{% load i18n widget_tweaks %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{% trans "Newsletters" %}</h2>
        <div class="card-tools">
          <small class="text-muted">{% trans "Se guardan en el momento en la web" %}</small>
        </div>
      </div>
      <div class="card-body contact-edit-newsletters"
           hx-get="{% url 'contact_newsletters_form' contact.id %}"
           hx-trigger="revealed"
           hx-swap="innerHTML">
        <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
        {% trans "Loading" %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{% trans "Mailtrain Newsletters" %}</h2>
      </div>
      <div class="card-body">
        {% if mailtrain_lists %}
          {% for item in mailtrain_lists %}
            <div class="row align-items-center">
              <div class="col">{{ item }}</div>
              <div class="col">
                {% if item.cid in contact_mailtrain_lists %}
                  {% trans "Subscribed" %}
                {% else %}
                  {% trans "Not subscribed" %}
                {% endif %}
              </div>
              <div class="col">
                <a href="{% url "toggle_mailtrain_subscription" contact.id item.cid %}"
                   class="btn {% if item.cid in contact_mailtrain_lists %}btn-danger{% else %}btn-success{% endif %}">
                  {% if item.cid in contact_mailtrain_lists %}
                    {% trans "Unsubscribe" %}
                  {% else %}
                    {% trans "Subscribe" %}
                  {% endif %}
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>{% trans "No mailtrain newsletters available yet" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
