{% load i18n widget_tweaks %}

{{ form.media }}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{% trans "Newsletters" %}</h2>
      </div>
      <div class="card-body contact-edit-newsletters">
        {% if all_newsletters %}
          {% render_field form.newsletters class="form-check" %}
        {% else %}
          <p>{% trans "No active newsletters available yet" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{% trans "Mailtrain Newsletters" %}</h2>
      </div>
      <div class="card-body">
        {% if mailtrain_lists %}
          {% for item in mailtrain_lists %}
            <div class="row align-items-center">
              <div class="col">{{ item }}</div>
              <div class="col">
                {% if item.cid in contact_mailtrain_lists %}
                  {% trans "Subscribed" %}
                {% else %}
                  {% trans "Not subscribed" %}
                {% endif %}
              </div>
              <div class="col">
                <a href="{% url "toggle_mailtrain_subscription" contact.id item.cid %}"
                   class="btn {% if item.cid in contact_mailtrain_lists %}btn-danger{% else %}btn-success{% endif %}">
                  {% if item.cid in contact_mailtrain_lists %}
                    {% trans "Unsubscribe" %}
                  {% else %}
                    {% trans "Subscribe" %}
                  {% endif %}
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>{% trans "No mailtrain newsletters available yet" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
