{% extends 'adminlte/base.html' %}
{% load  i18n %}
{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'Assign campaigns' %}</p>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/support/">{% trans 'Support' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Add contacts to campaign' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% trans 'Add contacts to campaign' %}</h3>
  </div>
  <div class="card-body">
    {% if count %}
      <p>{{count}} {% trans "contacts were added to the campaign" %}</p>
      <ol>
      {% for e in errors %}
      <li>{{ e }}</li>
      {% endfor %}
      </ol>
    {% else %}
      <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-sm-5">
            <label for="file">{% trans 'Choose file to upload' %}</label>
            <input type="file" class="form-control" name="file" id="file">
        </div>
        <div class="col-sm-2 text-center">
          <b class="align-middle text-center" style="display:inline-block;">
          {% trans 'or' %}
          </b>
        </div>
        <div class="form-group col-sm-5">
            <label for="tags">{% trans 'Use contacts with the next tags' %}</label>
            <input type="text" class="form-control" name="tags" id="tags">
        </div>
      </div>
      <p class="font-weight-bold">
      {% trans 'Then' %}
      </p>

      <div class="form-group">
        <label for="campaign">{% trans 'Select campaign' %}</label>
        <select name="campaign" id="campaign" class="form-control">
        {% for campaign in campaigns %}
        <option value="{{ campaign.id }}">{{ campaign.name }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group text-right">
        <input type="submit" value="{% trans 'Add contacts to campaign' %}" class="btn bg-gradient-primary" >
      </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
