{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "Book unsubscription" %}{% endblock title %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript">
$( function() {
  $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

  $("#form").submit(function(event){
    if ($(".disable-product:checked").length == 0){
      alert("Selecciona productos para desactivar");
    }else{
      $("#form").submit();
    }
    return false;
  });
});
</script>
{% endblock %}

{% block no_heading %}
<h1><a href="{% url 'contact_list' %}">{% trans "Contacts" %}</a> &raquo; <a href="{% url 'contact_detail' subscription.contact.id %}">{{subscription.contact.id}} - {{subscription.contact.name}}</a> &raquo; {% trans "Book unsubscription of some products" %} </h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-9">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="new-item"><a class="nav-link" href="{% url 'book_unsubscription' subscription.id  %}">{% trans 'Unsubscription' %}</a></li>
          <li class="new-item"><a class="nav-link active" href="{% url 'partial_unsubscription' subscription.id  %}">{% trans 'Partial unsubscription' %}</a></li>
          <li class="new-item"><a class="nav-link" href="{% url 'product_change' subscription.id  %}">{% trans 'Product change' %}</a></li>
          <li class="new-item"><a class="nav-link" href="{% url 'additional_product' subscription.id  %}">{% trans 'Add product' %}</a></li>
        </ul>
      </div>
      <div class="card-body">
        <form method="post" id="form">
          {% csrf_token %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Desactivar estos productos</label>
                {% for subscriptionproduct in subscription.get_subscriptionproducts %}
                  <div class="form-check">
                    <input id="id-{{subscriptionproduct.id}}" class="form-check-input disable-product" type="checkbox" name="sp-{{subscriptionproduct.id}}">
                    <label class="form-check-label" for="id-{{subscriptionproduct.id}}">{{subscriptionproduct.product.name}}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="id_end_date">{{form.end_date.label}}</label>
                {{form.end_date}}
                <span class="error invalid-feedback">{{form.end_date.errors}}</span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="id_unsubscription_requested">{{form.unsubscription_requested.label}}</label>
                <div class="form-check">
                    {{form.unsubscription_requested}}
                    <label class="form-check-label" for="id_unsubscription_requested">Baja a pedido del cliente</label>
                </div>
                <span class="error invalid-feedback">{{form.unsubscription_requested.errors}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="id_unsubscription_channel">{{form.unsubscription_channel.label}}</label>
                {{form.unsubscription_channel}}
                <span class="error invalid-feedback">{{form.unsubscription_channel.errors}}</span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="id_unsubscription_reason">{{form.unsubscription_reason.label}}</label>
                {{form.unsubscription_reason}}
                <span class="error invalid-feedback">{{form.unsubscription_reason.errors}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_unsubscription_addendum">{{form.unsubscription_addendum.label}}</label>
            {{form.unsubscription_addendum}}
            <span class="error invalid-feedback">{{form.unsubscription_addendum.errors}}</span>
          </div>
          <div class="form-group text-right">
            <input type="submit" name="submit" value='{% trans "Send" %}' class="btn bg-gradient-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
