{% extends "adminlte/base.html" %}
{% load static i18n widget_tweaks core_tags %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}" />
{% endblock %}

{% block title %}
  {% trans "Contacts" %}
{% endblock title %}

{% block no_heading %}
  <h1>{% trans "Contacts" %}</h1>
  <p>{% trans "Manage all contacts in the database." %}</p>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">{% trans "Search" %}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form method="get" id="form">
            <div class="row">
              <div class="form-group row col">
                <label for="phone" class="col-sm-3 col-form-label">{% trans "Filter" %}</label>
                <div class="col-sm-9">{% render_field filter.form.filter_multiple class="form-control" %}</div>
              </div>
              <div class="form-group row col">
                <label for="state" class="col-sm-3 col-form-label">{% trans "State" %}</label>
                <div class="col-sm-9">{% render_field filter.form.state class="form-control" %}</div>
              </div>
              <div class="form-group row col">
                <label for="active_subscriptions" class="col-sm-3 col-form-label">{% trans "Active subscriptions" %}</label>
                <div class="col-sm-9">{% render_field filter.form.active_subscriptions class="form-control" %}</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group row col-5">
                <label for="tags" class="col-sm-3 col-form-label">{% trans "Tags" %}</label>
                <div class="col-sm-9">{% render_field filter.form.tags class="form-control" %}</div>
              </div>
              <div class="form-group row col-5">
                <label for="tags" class="col-sm-3 col-form-label">{% trans "Address" %}</label>
                <div class="col-sm-9">{% render_field filter.form.address class="form-control" %}</div>
              </div>
              <div class="form-group col text-right">
                <input type="submit"
                       class="btn bg-gradient-primary"
                       value="{% trans "Search" %}" />
                {% if request.user|in_group:"Managers" %}
                  <input type="submit"
                         class="btn bg-gradient-primary"
                         name="export"
                         value="{% trans "Export to CSV" %}" />
                {% endif %}
                <p>{{ paginator.count }} {% trans "contacts" %}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h3>{% trans "All contacts" %}</h3>
            <a href="{% url "create_contact" %}" class="btn btn-primary">{% trans "Create contact" %}</a>
          </div>
          <table id="table1" class="table table-bordered table-striped mt-2">
            <thead>
              <tr role="row">
                <th>{% trans "Full name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Subscription" %}</th>
                <th>{% trans "Addresses" %}</th>
                <th>{% trans "Last activity" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in page_obj %}
                <tr role="row">
                  <td>
                    <a href="{% url "contact_detail" contact.id %}">{{ contact.get_full_name|default_if_none:"" }}</a>
                    {% if contact.id_document %}
                      <br>
                      {% if contact.id_document_type %}
                        {{ contact.id_document_type }}
                        <br>
                      {% endif %}
                      <i class="fas fa-id-card"
                         title="{% trans "ID document" %}"
                         data-toggle="tooltip"></i>
                      {{ contact.id_document }}
                    {% endif %}
                  </td>
                  <td>{{ contact.email|default_if_none:"-" }}</td>
                  <td>
                    {% if contact.phone %}
                      <i class="fas fa-phone"></i> {{ contact.phone|default_if_none:"" }}
                    {% endif %}
                    {% if contact.phone and contact.mobile %}
                      <br>
                    {% endif %}
                    {% if contact.mobile %}
                      <i class="fas fa-mobile"></i> {{ contact.mobile|default_if_none:"" }}
                    {% endif %}
                  </td>
                  <td>
                    {% for sp in contact.get_active_subscriptionproducts %}
                      {% if sp.has_envelope == 1 %}
                        <i class="fas fa-envelope"
                           title="{% trans "Paid envelope" %}"
                           data-toggle="tooltip"></i>
                      {% elif sp.has_envelope == 2 %}
                        <i class="far fa-envelope"
                           title="{% trans "Free envelope" %}"
                           data-toggle="tooltip"></i>
                      {% endif %}
                      {{ sp.product.name }}
                      {% if sp.label_contact %}({{ sp.label_contact.get_full_name }}){% endif %}
                      <br>
                    {% endfor %}
                  </td>
                  <td>
                    <ul class="ml-0 pl-2 list-unstyled">
                      {% for address in contact.addresses.all %}
                        <li>{{ address.address_1|default_if_none:"" }} {{ address.state|default_if_none:"" }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td>
                    {{ contact.get_last_activity_formatted|default_if_none:"" }}
                  </td>
                  <td>
                    <a href="{% url "contact_detail" contact.id %}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if page_obj.has_other_pages %}
    {% include "components/_pagination.html" %}
  {% endif %}
{% endblock %}
