{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks core_tags %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/jquery-ui/jquery-ui.min.css' %}" />
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function() {
    $('#id_date').change(function(){
      var option = $(this).val();
      if(option == "custom") {
        $('.creation-range').removeClass('d-none');
      }else {
        $('.creation-range').addClass('d-none');
        $('#id_date_gte').attr('value', '');
        $('#id_date_lte').attr('value', '');
      }
    });
    $('#id_date').change();
    $('#id_date_gte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_date_lte').datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>

{% endblock %}
{% block no_heading %}
<h1>{% trans 'Finances' %}</h1>
<p>{% trans 'Debtor contacts' %}</p>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/support/">{% trans 'Finances' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Debtor contacts' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
          <form method="GET" id="form">
            <div class="row">
                <div class="form-group col">
                    <label for="sort_by">{% trans "Sort by" %}</label>
                    <select name="sort_by" class="form-control">
                        <option value="" {% if not sort_by %}selected{% endif %}>---------</option>
                        <option value="owed_invoices" {% if sort_by == "owed_invoices" %}selected{% endif %}>{% trans "Owed invoices" %}</option>
                        <option value="debt" {% if sort_by == "debt" %}selected{% endif %}>{% trans "Debt amount" %}</option>
                        <option value="oldest_invoice" {% if sort_by == "oldest_invoice" %}selected{% endif %}>{% trans "Oldest invoice" %}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="order">{% trans "Order" %}</label>
                    <select name="order" class="form-control">
                        <option value="desc">{% trans "Desc." %}</option>
                        <option value="asc">{% trans "Asc." %}</option>
                    </select>
                </div>
            </div>
            <div class="text-right">
              {{sum}} {% trans "owed" %} /
              {{count}} {% trans "contacts" %}
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans 'Export to CSV' %}" name="export" />
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans 'Search' %}" />
            </div>
          </form>
        </div>
      </div>
        <div class="card">
          <div class="card-body">
            <table id="table1" class="table table-bordered table-striped">
              <thead>
                  <tr role="row">
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>
                        {% trans "Owed invoices" %}
                    </th>
                    <th>
                        {% trans "Open issues" %}
                    </th>
                    <th>
                        {% trans "Debt amount" %}
                    </th>
                    <th>
                        {% trans "Oldest invoice" %}
                    </th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                {% for contact in page %}
                <tr  role="row">
                    <td>{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.owed_invoices}}</td>
                    <td>{% call_method contact 'get_open_issues_by_subcategory_count' 'I06' %}</td>
                    <td>{{contact.debt}}</td>
                    <td>{{contact.oldest_invoice}}</td>
                    <td>
                        <a href="{% url 'contact_detail' contact.id %}" target="_blank" class="btn btn-primary btn-sm">{% trans "Go to contact" %}</a>
                        <a href="{% url 'contact_invoices' contact.id %}" target="_blank" class="btn btn-success btn-sm">{% trans "Invoices" %}</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  {% if page.has_other_pages %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if page.number == 1 %}
            <li class="page-item disabled"><span class="page-link">{% trans "first" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' 1 %}">{% trans "first" %}</a></li>
        {% endif %}
        {% if page.has_previous %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:page.number %}
            {% if page.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'p' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if page.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">{% trans "last" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' paginator.num_pages %}">{% trans "last" %}</a></li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
