{% extends 'adminlte/base.html' %}
{% load i18n %}
{% block title %}{% trans "Dynamic contact filters" %}{% endblock %}
{% block content %}

<a href="{% url 'dynamic_contact_filter_add' %}">New filter</a> <br>
<a href="{% url 'export_dcf_emails' dcf.id %}">Export</a> <br>
<a href="{% url 'dynamic_contact_filter_list' %}">List</a> <br>
<br>
<h2>{{dcf.description}} ({{dcf.get_mode}})</h2>
<br>
<form method="post">
    {% csrf_token %}
    {% trans "Change Mailtrain ID" %}
    <input name="mailtrain_id" value="{{dcf.mailtrain_id}}">
    {% trans "Autosync" %}
    <input type="checkbox" name="autosync" {% if dcf.autosync %}checked{% endif %}>
    {% trans "Active" %}
    <input type="checkbox" name="active" {% if dcf.active %}checked{% endif %}>
    <input type="submit" name="submit">
</form>
{% trans "Last time synced" %} {{dcf.last_time_synced}} <a href="{% url 'sync_with_mailtrain' dcf.id %}">{% trans "Sync now" %}</a>
<br><br>
{% trans "Email count" %}: {{dcf.get_email_count}}
<br><br>
{% trans "Email list" %}: 
<ul>
    {% for email in dcf.get_emails %}
        <li>{{email}}</li>        
    {% endfor %}    
</ul>
{% endblock %}
