{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "Edit envelopes" %}{% endblock title %} 

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript">
    $( function() {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });
</script>
{% endblock %}

{% block no_heading %}
<h1><a href="{% url 'contact_list' %}">{% trans "Contacts" %}</a> &raquo; <a href="{% url 'contact_detail' subscription.contact.id %}">{{subscription.contact.id}} - {{subscription.contact.name}}</a> &raquo; {% trans "Edit envelopes" %} </h1>
{% endblock no_heading %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="tab-pane" id="newsletters">
                <div class="row">
                  <div class="col-md-8">
                    <form method="post">
                      {% csrf_token %}
                      <div class="card">
                        <div class="card-header">
                          <h2 class="card-title">{% trans "Subscription products" %}</h2>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            {% for sp in subscription_products %}
                              <div class="row {% if forloop.counter > 1 %}border-top{% endif %}">
                                <div class="col-5 m-2">
                                  {{sp.product.name}}
                                </div>
                                <div class="col-5 m-2">
                                  <select name="env-{{sp.id}}" class="form-control">
                                    <option {% if not sp.has_envelope %}selected{% endif %}>-</option>
                                    <option {% if sp.has_envelope == 1 %}selected{% endif %} value="1">{% trans "Paid envelope" %}</option>
                                    <option {% if sp.has_envelope == 2 %}selected{% endif %} value="2">{% trans "Free envelope" %}</option>
                                  </select>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
