{% extends 'adminlte/base.html' %}
{% load static i18n %}

{% block title %}{{contact.name}} - {% trans "Extended history" %}{% endblock title %}

{% block no_heading %}
<h1><a href="{% url 'contact_list' %}">{% trans "Contacts" %}</a> &raquo; <a href="{% url 'contact_detail' contact.id %}">{{contact.id}} - {{contact.name}}</a> &raquo; {% trans "History" %} </h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2">
        <div class="d-flex justify-content-between m-2">
          <div>
            {% trans "Contact info" %}
          </div>
          <div>
            <a href="{% url 'contact_detail' contact.id %}" class="btn-sm btn-success">{% trans "Go to contact" %}</a>
            <a href="{% url 'admin:core_contact_history' contact.id %}" class="btn-sm btn-success">{% trans "Go to history in admin" %}</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <th>{% trans "Date" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Changes" %}</th>
          </thead>
          <tbody>
            {% for history_object, changes in contact_history_dict.items %}
            <tr>
              <td>{{history_object.history_date}}</td>
              <td>{{history_object.history_user|default_if_none:"System"}}</td>
              <td>
                <ul>
                  {% if not changes %}
                  <li>{% trans "Saved but no changes made" %}</li>
                  {% else %}
                  {% for change in changes %}
                  {% if change.0 == "created" %}
                  <li>{% trans "History was created" %}</li>
                  {% else %}
                  <li>{{change.0}}: {{change.1}} -> {{change.2}}</li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if subscriptions_history_dict %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2 m-2">
        {% trans "Subscriptions" %}
      </div>
      <div class="card-body">
        {% for subscription, history_dict in subscriptions_history_dict.items %}
        <div class="card">
          <div class="card-header p-2 m-2">
            <div class="d-flex justify-content-between m-2">
              <div>
                {{subscription}}
              </div>
              <div>
                <a href="{% url 'admin:core_subscription_change' subscription.id %}" class="btn-sm btn-success">{% trans "Go to subscription" %}</a>
                <a href="{% url 'admin:core_subscription_history' subscription.id %}" class="btn-sm btn-success">{% trans "Go to history in admin" %}</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Changes" %}</th>
              </thead>
              <tbody>
                {% for history_object, changes in history_dict.items %}
                <tr>
                  <td>{{history_object.history_date}}</td>
                  <td>{{history_object.history_user|default_if_none:"System"}}</td>
                  <td>
                    <ul>
                      {% if not changes %}
                      <li>{% trans "Saved but no changes made" %}</li>
                      {% else %}
                      {% for change in changes %}
                      {% if change.0 == "created" %}
                      <li>{% trans "History was created" %}</li>
                      {% else %}
                      <li>{{change.0}}: {{change.1}} -> {{change.2}}</li>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if issues_history_dict %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2 m-2">
        {% trans "Issues" %}
      </div>
      <div class="card-body">
        {% for issue, history_dict in issues_history_dict.items %}
        <div class="card">
          <div class="card-header p-2 m-2">
            <div class="d-flex justify-content-between m-2">
              <div>
                {{issue}}
              </div>
              <div>
                <a href="{% url 'view_issue' issue.id %}" class="btn-sm btn-success">{% trans "Go to issue" %}</a>
                <a href="{% url 'admin:support_issue_history' issue.id %}" class="btn-sm btn-success">{% trans "Go to history in admin" %}</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Changes" %}</th>
              </thead>
              <tbody>
                {% for history_object, changes in history_dict.items %}
                <tr>
                  <td>{{history_object.history_date}}</td>
                  <td>{{history_object.history_user|default_if_none:"System"}}</td>
                  <td>
                    <ul>
                      {% if not changes %}
                      <li>{% trans "Saved but no changes made" %}</li>
                      {% else %}
                      {% for change in changes %}
                      {% if change.0 == "created" %}
                      <li>{% trans "History was created" %}</li>
                      {% else %}
                      <li>{{change.0}}: {{change.1}} -> {{change.2}}</li>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}