{% extends 'adminlte/base.html' %}
{% load static i18n %}

{% block content %}
      <h2>{% trans "Issues" %}</h2>
      <h3 style="margin-top: 3em;">{% trans "Daily" %}</h3>
      <table cellpadding="4" cellspacing="2">
        <tr>
          <th>&nbsp;</th>
          {% for day in days %}
            <th>{{ day.date|safe }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th>{% trans "Issues" %}</th>
          {% for day in days %}
              <td>
            {% if day.issues %}
              {{ day.issues }} / {{ day.pct }}%
            {% else %}
              &nbsp;
            {% endif %}
            </td>
          {% endfor %}
        </tr>
      </table>

      <h3 style="margin-top: 3em;">{% trans "Weekly" %}</h3>
      <table cellpadding="4" cellspacing="2">
        <tr>
          <th>&nbsp;</th>
          {% for week in weeks %}
            <th>{{ week.date|safe }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th>{% trans "Issues" %}</th>
          {% for week in weeks %}
            {% if sema.reclamos %}
              <td><a href="/reclamos_ruta_estadistica/{{ semana.inicio }}/{{ semana.fin }}/{{ lugar }}">{{ semana.reclamos }} / {{ semana.porcentaje }}%</td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
          {% endfor %}
        </tr>
      </table>

      <h3 style="margin-top: 3em;">Mes a mes</h3>
      <table cellpadding="4" cellspacing="2">
        <tr>
          <th>&nbsp;</th>
          {% for mes in meses %}
            <th>{{ mes.fecha|safe }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th>Reclamos</th>
          {% for mes in meses %}
            {% if mes.reclamos %}
              <td><a href="/reclamos_ruta_estadistica/{{ mes.inicio }}/{{ mes.fin }}/{{ lugar }}">{{ mes.reclamos }} / {{ mes.porcentaje }}%</td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
          {% endfor %}
        </tr>
      </table>
{% endblock %}
