{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "List issues" %}{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function() {
    $('#id_date').change(function(){
      var option = $(this).val();
      if(option == "custom") {
        $('.creation-range').removeClass('d-none');
      }else {
        $('.creation-range').addClass('d-none');
        $('#id_date_gte').attr('value', '');
        $('#id_date_lte').attr('value', '');
      }
    });
    $('#id_date').change();
    $('#id_date_gte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_date_lte').datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>
{% endblock %}

{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'List issues' %}</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
          <form method="GET" id="form">
            <div class="row">
                <div class="form-group col">
                    <label for="status">{% trans "Status" %}</label>
                    {% render_field issues_filter.form.status class="form-control" %}
                </div>
                <div class="form-group col">
                    <label for="category">{% trans "Category" %}</label>
                    {% render_field issues_filter.form.category class="form-control" %}
                </div>
                <div class="form-group col">
                    <label for="sub_category">{% trans "Subcategory" %}</label>
                    {% render_field issues_filter.form.sub_category class="form-control" %}
                </div>
                <div class="form-group col">
                    <label for="assigned_to">{% trans "Assigned to" %}</label>
                    {% render_field issues_filter.form.assigned_to class="form-control" %}
                </div>
                <div class="form-group col">
                    <label for="date">{% trans "Date" %}</label>
                    {% render_field issues_filter.form.date class="form-control " %}
                </div>
              <div class="creation-range hidden d-none col-4">
                <div class="row">
                  <div class="form-group col">
                    <label for="creation_date_gte">{% trans "Creation date (from)" %}</label>
                      {% render_field issues_filter.form.date_gte class="form-control" %}
                  </div>
                  <div class="form-group col">
                    <label for="creation_date_lte">{% trans "Creation date (to)" %}</label>
                      {% render_field issues_filter.form.date_lte class="form-control" %}
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              {{count}} {% trans "issues" %}
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans 'Export to CSV' %}" name="export" />
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans 'Search' %}" />
            </div>
          </form>
        </div>
      </div>
        <div class="card">
          <div class="card-body">
            <h3>{% trans "All issues" %}</h3>
            <table id="table1" class="table table-bordered table-striped">
              <thead>
                  <tr role="row">
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Start date" %}</th>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Subcategory" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Activities" %}</th>
                    <th>{% trans "Next action date" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                  </tr>
              </thead>
              <tbody>
                {% for issue in page %}
                <tr  role="row">
                    <td><a href='{% url "view_issue" issue.id %}'>{{issue.id}}</a></td>
                    <td>{{issue.date}}</td>
                    <td>{{issue.contact}}</td>
                    <td>{{issue.get_category}}</td>
                    <td>{{issue.get_subcategory}}</td>
                    <td>{{issue.status}}</td>
                    <td>{{issue.activity_count}}</td>
                    <td>{{issue.next_action_date}}</td>
                    <td>{{issue.assigned_to|default_if_none:"-"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  {% if page.has_other_pages %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if page.number == 1 %}
            <li class="page-item disabled"><span class="page-link">{% trans "first" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' 1 %}">{% trans "first" %}</a></li>
        {% endif %}
        {% if page.has_previous %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:page.number %}
            {% if page.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'p' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if page.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">{% trans "last" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' paginator.num_pages %}">{% trans "last" %}</a></li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
