{% extends 'adminlte/base.html' %}
{% load static i18n %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function() {
    $("#table1").DataTable();
  });
</script>

{% endblock %}
{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'List incidents' %}</p>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/support/">{% trans 'Support' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'List incidents' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3>{% trans "All issues" %}</h3>
            <table id="table1" class="table table-bordered table-striped">
              <thead>
                  <tr role="row">
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Start date" %}</th>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Subcategory" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                  </tr>
              </thead>
              <tbody>
                {% for issue in page %}
                <tr  role="row">
                    <td><a href='{% url "view_issue" issue.id %}'>{{issue.id}}</a></td>
                    <td>{{issue.date_created}}</td>
                    <td>{{issue.contact}}</td>
                    <td>{{issue.get_category}}</td>
                    <td>{{issue.get_subcategory}}</td>
                    <td>{{issue.status}}</td>
                    <td>{{issue.manager}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  {% if page.has_other_pages %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if page.number == 1 %}
            <li class="page-item disabled"><span class="page-link">{% trans "first" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' 1 %}">{% trans "first" %}</a></li>
        {% endif %}
        {% if page.has_previous %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:page.number %}
            {% if page.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'p' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'p' page.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if page.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">{% trans "last" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' paginator.num_pages %}">{% trans "last" %}</a></li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
