{% extends 'adminlte/base.html' %}
{% load static i18n %}
{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'Create new logistics incident' %}</p>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/support/">{% trans 'Support' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'New incident' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="new-item"><a class="nav-link active" href="{% url 'new_issue' contact.id  %}">{% trans 'Common incidents' %}</a></li>
          <li class="new-item"><a class="nav-link" href="{% url 'new_scheduled_task' contact.id 'S05'  %}">{% trans 'Change address' %}</a></li>
          <li class="new-item"><a class="nav-link" href="{% url 'new_scheduled_task' contact.id 'S04'  %}">{% trans 'Pause subscription' %}</a></li>
        </ul>
      </div>
      <div class="card-body">
        <h3>{% trans "New issue" %}</h3>
        <form method="post">
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
            {%csrf_token%}
            <div class="form-group">
              <label for="id_contact">{{form.contact.label}}</label>
              {{form.contact}}
              <span class="error invalid-feedback">{{form.contact.errors}}</span>
            </div>
            <div class="form-group">
              <label for="id_category">{{form.category.label}}</label>
              {{form.category}}
              <span class="error invalid-feedback">{{form.category.errors}}</span>
            </div>
            <div class="form-group">
                <label for="id_subcategory">{{form.subcategory.label}}</label>
                {{form.subcategory}}
                <span class="error invalid-feedback">{{form.subcategory.errors}}</span>
            </div>
            <div class="form-group">
              <label for="id_copies">{{ form.copies.label }}</label>
              {{ form.copies }}
              <span class="error invalid-feedback">{{form.copies.errors}}</span>
            </div>
            <div class="form-group">
              <label>{% trans "Priority (Required)" %}</label>
              <select class="form-control">
                  <option>{% trans "Choose" %}</option>
                  <option>{% trans "Normal" %}</option>
                  <option>{% trans "Highest" %}</option>
              </select>
            </div>
            <div class="form-group">
              <label>{% trans "Assigned to" %}</label>
              <select class="form-control">
                <option>{% trans "Choose" %}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="id_subscription_product">{{form.subscription_product.label}}</label>
              {{form.subscription_product}}
              <span class="error invalid-feedback">{{form.subscription_product.errors}}</span>
            </div>
            <div class="form-group">
              <label for="id_product">{{form.product.label}}</label>
              {{form.product}}
              <span class="error invalid-feedback">{{form.product.errors}}</span>
            </div>
            <div class="form-group">
              <label for="id_notes">{{form.notes.label}}</label>
              {{form.notes}}
              <span class="error invalid-feedback">{{form.notes.errors}}</span>
            </div>
            <div class="form-group text-right">
              <input type="submit" name="submit" value='{% trans "Send" %}' class="btn bg-gradient-primary">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
