{% extends "adminlte/base.html" %}
{% load i18n static core_tags %}
{% block title %}
  {% trans "New subscription" %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/email_suggestion_dialog.css' %}">
{% endblock %}

{% block no_heading %}
  <h1>
    <a href="{% url "contact_list" %}">{% trans "Contacts" %}</a> >
    <a href="{% url "contact_detail" contact.id %}">{{ contact.id }} - {{ contact.get_full_name }}</a> >
    {% if edit_subscription %}
      {% trans "Edit subscription" %}
    {% else %}
      {% trans "New subscription" %}
    {% endif %}
  </h1>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/product_dynamic_prices.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();

      $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
      });

      $("#id_default_address").change(function () {
        $(".address_selector").each(function () {
          $(this).val($("#id_default_address").val());
        });
      });

      $('#fetch-button').click(function() {
        // Send an AJAX request to the Django view
        $.ajax({
          url: '{% url "api_get_addresses" contact.id %}',
          method: 'POST',
          dataType: 'json',
          success: function(data) {
            // Clear previous options and populate the HTML selects
            $('.address_selector').each(function() {
              var addressSelect = $(this);
              var selectedValue = addressSelect.val();
              addressSelect.empty();
              $.each(data, function(index, item) {
                var option = $('<option>').text(item.text).val(item.value);
                  if(item.value == selectedValue){
                    option.prop('selected', true);
                  }
                addressSelect.append(option);
              });
            });
          }
        });
      });
      {% include 'email_suggestion_dialog_js.html' %}
    });
  </script>
  {% block extra_scripts %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        {% if edit_subscription %}
          {% trans "Edit subscription" %}
        {% else %}
          {% trans "New subscription" %}
        {% endif %}
      </h2>
    </div>
    <div class="card-body">
      {% block subscription_form %}
        <form method="post" id="subscription_form">
          {% csrf_token %}
          {% include "email_suggestion_dialog.html" %}
          {% if form.errors %}
            {{ form.email_was_valid }}{{ form.email_replaced }}
            {{ form.email_replacement }}{{ form.email_suggestion }}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          {% block contact_info %}
            <div class="row">
              <div class="form-group d-none">
                <label for="id_contact">{{ form.contact.label }}</label>
                {{ form.contact }}
                {{ form.contact_id }}
              </div>
              <div class="form-group col-sm-3">
                <label for="id_name">{{ form.name.label }}</label>
                {{ form.name }}
              </div>
              <div class="form-group col-sm-3">
                <label for="id_last_name">{{ form.last_name.label }}</label>
                {{ form.last_name }}
              </div>
              <div class="form-group col-sm-3">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
              </div>
              <div class="form-group col-sm-2">
                <label for="id_id_document">{{ form.id_document.label }}</label>
                {{ form.id_document }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="id_phone">{{ form.phone.label }}</label>
                {{ form.phone }}
              </div>
              <div class="form-group col-sm-6">
                <label for="id_mobile">{{ form.mobile.label }}</label>
                {{ form.mobile }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_notes">{{ form.register_activity.label }}</label>
              {{ form.register_activity }}
            </div>
            {% block payment_type %}
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="id_frequency">{{ form.frequency.label }}</label>
                  {{ form.frequency }}
                </div>
                <div class="form-group col-sm-4">
                  <label for="id_payment_type">{{ form.payment_type.label }}</label>
                  {{ form.payment_type }}
                </div>
                <div class="form-group col-sm-4">
                  <label for="id_send_bill_copy_by_email">{{ form.send_bill_copy_by_email.label }}</label>
                  <div class="form-check">
                    {{ form.send_bill_copy_by_email }}
                    <label class="form-check-label" for="id_send_bill_copy_by_email">{% trans "Send" %}</label>
                  </div>
                </div>
              </div>
              {% block extra_payment %}
              {% endblock extra_payment %}
            {% endblock payment_type %}

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="id_start_date">{{ form.start_date.label }}</label>
                {{ form.start_date }}
              </div>
              <div class="form-group col-sm-6">
                <label for="id_end_date">{{ form.end_date.label }}</label>
                {{ form.end_date }}
              </div>
            </div>
            {% block billing_info %}
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary btn-sm"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapse-billing-information"
                          aria-expanded="false"
                          aria-controls="collapseExample">
                    <i class="fas fa-plus"></i> {% trans "Show extra billing information" %}
                  </button>
                </div>
                <div class="col">
                  <div class="form-group mt-2">
                    <a href="{% url 'agregar_direccion' contact.id %}?stayhere=True"
                       id="add_address"
                       class="btn bg-gradient-success"
                       target="_blank"><i class="fas fa-plus"></i> Nueva dirección</a>
                    <button type="button" class="btn bg-gradient-success" id="fetch-button">Recargar direcciones</button>
                  </div>
                </div>
              </div>
              <div id="collapse-billing-information" class="collapse">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="id_billing_address">{{ form.billing_address.label }}</label>
                    {{ form.billing_address }}
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="id_billing_name">{{ form.billing_name.label }}</label>
                    {{ form.billing_name }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="id_billing_id_doc">{{ form.billing_id_doc.label }}</label>
                    {{ form.billing_id_doc }}
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="id_rut">{{ form.rut.label }}</label>
                    {{ form.rut }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="id_billing_phone">{{ form.billing_phone.label }}</label>
                    {{ form.billing_phone }}
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="id_billing_email">{{ form.billing_email.label }}</label>
                    {{ form.billing_email }}
                  </div>
                </div>
              </div>
            {% endblock billing_info %}

            {% comment "TODO: Removed to see if they dont need it" %}
            <div class="form-group">
              <label for="id_default_address">{{form.default_address.label}}</label>
              {{ form.default_address }}
            </div>
            {% endcomment %}
          {% endblock contact_info %}

          {% block form_products %}
            <div class="mt-4">
              {% for product in offerable_products %}
                {% call_method form 'bound_product_values' product.id as bound_product_values %}
                <div class="form-group border-bottom pb-2">
                  <div class="row mt-2">
                    <div class="col-5">
                      <div class="form-check">
                        <input value="{{ product.id }}"
                               type="checkbox"
                               name="check-{{ product.id }}"
                               id="check-{{ product.id }}"
                               {% if product in subscription.products.all or product.id in form.checked_products %}checked="checked"{% endif %}
                               class="product_checkbox form-check-input">
                        <label for="check-{{ product.id }}">{{ product.name }}</label>
                      </div>
                      <select name="address-{{ product.id }}" class="address_selector form-control">
                        {% for address in contact_addresses %}
                          <option style="color:{% if address.verified %}green{% else %}red{% endif %}"
                                  {% if subscription|get_address_id_from_subscription:product.slug == address.id or bound_product_values.address == address.id %} selected="selected" {% endif %}
                                  value="{{ address.id }}">
                            {{ address.address_1 }} {{ address.city }} {{ address.state_name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-1">
                      <label for="copies-{{ product.id }}">
                        <small>{% trans "Copies" %}</small>
                      </label>
                      <input value="{% if subscription %}{% call_method subscription 'get_copies_for_product' product.id %}{% else %}{{ bound_product_values.copies|default:1 }}{% endif %}"
                             type="text"
                             id="copies-{{ product.id }}"
                             name="copies-{{ product.id }}"
                             class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="message-{{ product.id }}">
                        <small>{% trans "Label Message" %}</small>
                      </label>
                      <input maxlength="40"
                             type="text"
                             id="message-{{ product.id }}"
                             name="message-{{ product.id }}"
                             value="{% if subscription %}{% call_method subscription 'get_message_for_product' product.id %}{% else %}{{ bound_product_values.message }}{% endif %}"
                             class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="instructions-{{ product.id }}">
                        <small>{% trans "Special Instructions" %}</small>
                      </label>
                      <input type="text"
                             id="instructions-{{ product.id }}"
                             name="instructions-{{ product.id }}"
                             value="{% if subscription %}{% call_method subscription 'get_instructions_for_product' product.id %}{% else %}{{ bound_product_values.instructions }}{% endif %}"
                             class="form-control">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endblock form_products %}

          {% block form_send_controls %}
            {% block total_price %}
              <h4 class="mb-4 mt-4">
                {% trans "Total price is" %}: <span class="text-success" id="price_amount">$0</span>
                <span id="custom_error_message" class="text-danger"></span>
              </h4>
            {% endblock total_price %}

            <div class="form-group text-right">
              <div class="float-right ml-1">
                <input type="submit"
                       name="result"
                       id="send_form"
                       value="{% trans "Send" %}"
                       class="btn bg-gradient-primary">
              </div>
              <input type="submit"
                     name="result"
                     value="{% trans "Cancel" %}"
                     class="btn bg-gradient-secondary">
            </div>
          {% endblock form_send_controls %}

        </form>
      {% endblock subscription_form %}

    </div>
  </div>
{% endblock content %}
