{% extends "adminlte/base.html" %}
{% load static i18n %}
{% block title %}
  {% trans "New scheduled task" %} - {% trans "Address change" %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
$(function(){
  $(".datepicker").datepicker(
    { dateFormat: 'yy-mm-dd' }).datepicker("setDate", new Date());
    if ($('#id_new_address').is(":checked") ){
      $('.newaddress-group').removeClass('d-none');
    }
    $('#id_new_address').click(function(){
      $('.newaddress-group').toggleClass('d-none');
    });
    function activateSend() {
      if ($(".sp-checkbox:checked").length == 0) {
        $("#send_form").attr("disabled", "disabled");
      }else{
        $("#send_form").removeAttr("disabled");
      }
    };
    activateSend();

    $("input:checkbox, select").change(function(){
      activateSend();
    });
  });
  </script>
{% endblock %}

{% block no_heading %}
  <h1>
    <a href="{% url "contact_list" %}">{% trans "Contacts" %}</a> > <a href="{% url "contact_detail" contact.id %}">{{ contact.id }} - {{ contact.get_full_name }}</a> > {% trans "Address change" %}
  </h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="new-item">
              <a class="nav-link" href="{% url "new_issue" contact.id "L" %}">{% trans "Regular issues" %}</a>
            </li>
            <li class="new-item">
              <a class="nav-link active"
                 href="{% url "new_scheduled_task_address_change" contact.id %}">{% trans "Change address" %}</a>
            </li>
            <li class="new-item">
              <a class="nav-link"
                 href="{% url "new_scheduled_task_total_pause" contact.id %}">{% trans "Pause subscription" %}</a>
            </li>
            <li class="new-item">
              <a class="nav-link"
                 href="{% url "new_scheduled_task_partial_pause" contact.id %}">{% trans "Partial pause" %}</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form method="post">
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 col-s-12">
                <div class="form-group">
                  <label for="id_date_1">{{ form.date_1.label }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    {{ form.date_1 }}
                    <span class="error invalid-feedback">{{ form.date_1.errors }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="id_activity_type">{{ form.activity_type.label }}</label>
              {{ form.activity_type }}
              <span class="error invalid-feedback">{{ form.activity_type.errors }}</span>
            </div>
            <div class="form-group">
              <label for="id_contact_address">{{ form.contact_address.label }}</label>
              {{ form.contact_address }}
              <span class="error invalid-feedback">{{ form.contact_address.errors }}</span>
            </div>
            <div class="form-group">
              <div class="form-check">
                {{ form.new_address }}
                <label for="id_new_address" class="form-check-label">{{ form.new_address.label }}</label>
              </div>
            </div>
            <div class="newaddress-group d-none">
              <div class="row">
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_1">{{ form.new_address_1.label }}</label>
                    {{ form.new_address_1 }}
                    <span class="error invalid-feedback">{{ form.new_address_1.errors }}</span>
                  </div>
                </div>
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_2">{{ form.new_address_2.label }}</label>
                    {{ form.new_address_2 }}
                    <span class="error invalid-feedback">{{ form.new_address_2.errors }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_city">{{ form.new_address_city.label }}</label>
                    {{ form.new_address_city }}
                    <span class="error invalid-feedback">{{ form.new_address_city.errors }}</span>
                  </div>
                </div>
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_state">{{ form.new_address_state.label }}</label>
                    {{ form.new_address_state }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_city">{{ form.new_label_message.label }}</label>
                    {{ form.new_label_message }}
                  </div>
                </div>
                <div class="col-md-6 col-s-12">
                  <div class="form-group">
                    <label for="id_new_address_state">{{ form.new_special_instructions.label }}</label>
                    {{ form.new_special_instructions }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="id_new_address_type">{{ form.new_address_type.label }}</label>
                {{ form.new_address_type }}
                <span class="error invalid-feedback">{{ form.new_address_type.errors }}</span>
              </div>
            </div>
            {% if subscriptions %}
              <div class="form-group">
                <h5>{% trans "Select products to apply address change to" %}</h5>
                {% for subscription in subscriptions %}
                  <div class="card">
                    <div class="card-header">{% trans "Subscription" %} {{ subscription.id }}</div>
                    <div class="card-body">
                      {% for subscription_product in subscription.subscriptionproduct_set.all %}
                        <div class="form-check">
                          <input type="checkbox"
                                 class="sp-checkbox form-check-input"
                                 name="sp{{ subscription_product.id }}"
                                 value="sp{{ subscription_product.id }}"
                                 id="sp{{ subscription_product.id }}">
                          <label class="form-check-label" for="sp{{ subscription_product.id }}">
                            {{ subscription_product.product }}
                            {% if subscription_product.label_contact %}({{ subscription_product.label_contact.get_full_name }}){% endif %}
                            x{{ subscription_product.copies }} {% trans "currently on address" %} {{ subscription_product.address }}
                            {% if subscription_product.route %}
                              (R: {{ subscription_product.route }}
                              {% if subscription_product.order %}O: {{ subscription_product.order }}{% endif %}
                              )
                            {% endif %}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group text-right">
              <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       name="apply_now"
                       id="id_apply_now">
                <label class="form-check-label" for="id_apply_now">{% trans "Apply now" %}</label>
              </div>
              <input type="submit"
                     id="send_form"
                     class="btn bg-gradient-primary"
                     name="submit"
                     value='{% trans "Send" %}'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
