{% extends "adminlte/base.html" %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "List scheduled tasks" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function() {
    $('#id_creation_date_gte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_creation_date_lte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_execution_date_gte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_execution_date_lte').datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>
{% endblock %}

{% block no_heading %}
  <h1>{% trans "Support" %}</h1>
  <p>{% trans "List scheduled tasks" %}</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">
          <form method="get" id="form">
            <div class="row">
              <div class="form-group col">
                <label for="status">{% trans "Contact" %}</label>
                {% render_field st_filter.form.contact_filter class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Address" %}</label>
                {% render_field st_filter.form.address_filter class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Category" %}</label>
                {% render_field st_filter.form.category class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Completed" %}</label>
                {% render_field st_filter.form.completed class="form-control" %}
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="status">{% trans "Min. creation date" %}</label>
                {% render_field st_filter.form.creation_date_gte class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Max. creation date" %}</label>
                {% render_field st_filter.form.creation_date_lte class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Min. execution date" %}</label>
                {% render_field st_filter.form.execution_date_gte class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Max. execution date" %}</label>
                {% render_field st_filter.form.execution_date_lte class="form-control" %}
              </div>
            </div>
            <div class="text-right">
              {{ count }} {% trans "issues" %}
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans "Export to CSV" %}" name="export" />
              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans "Search" %}" />
            </div>
          </form>
        </div>
      </div>
        <div class="card">
          <div class="card-body">
            <h3>{% trans "All issues" %}</h3>
            <table id="table1" class="table table-bordered table-striped">
              <thead>
                  <tr role="row">
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Creation date" %}</th>
                    <th>{% trans "Execution date" %}</th>
                    <th>{% trans "Completed" %}</th>

                  </tr>
              </thead>
              <tbody>
                {% for task in page %}
                <tr role="row">
                    <td><a href="{% url "contact_detail" task.contact.id %}">{{ task.contact.get_full_name }}</a></td>
                    <td>{{ task.get_category_display }}</td>
                    <td>{{ task.creation_date }}</td>
                    <td>{{ task.execution_date }}</td>
                    <td>{{ task.completed }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  {% if page.has_other_pages %}
    {% include "components/_pagination.html" with page_obj=page %}
  {% endif %}
{% endblock %}
