{% extends "adminlte/base.html" %}
{% load static i18n widget_tweaks core_tags %}
{% block title %}
  {% trans "Scheduled activities" %}
{% endblock %}

{% block no_heading %}
  <h1>{% trans "Activities" %}</h1>
  <p>{% trans "All your upcoming and scheduled activities." %}</p>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">{% trans "Filter" %} ({{ count }} {% trans "activities" %})</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form method="get" id="form">
            <div class="row">
              <div class="form-group row col-5">
                <label for="phone" class="col-sm-3 col-form-label">{% trans "Status" %}</label>
                <div class="col-sm-9">{% render_field filter.form.status class="form-control" %}</div>
              </div>
              <div class="form-group row col-6">
                <label for="state" class="col-sm-3 col-form-label">{% trans "Campaign" %}</label>
                <div class="col-sm-9">{% render_field filter.form.campaign class="form-control" %}</div>
              </div>
              <div class="form-group col-sm-1">
                <input type="submit"
                       class="btn bg-gradient-primary"
                       value="{% trans "Go" %}" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr role="row">
                <th>{% trans "Contact name" %}</th>
                <th>{% trans "Campaign" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Date and time" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for activity in activities %}
                <tr role="row"
                    {% if activity.datetime > now %}class="table-info"{% endif %}>
                  <td>{{ activity.contact.get_full_name }}</td>
                  <td>{{ activity.campaign.name }}</td>
                  <td>{{ activity.get_status }}</td>
                  <td>{{ activity.datetime }}</td>
                  <td>
                    <a class="btn btn-primary"
                       href="{% url "seller_console" "act" activity.campaign.id %}?a={{ activity.id }}">{% trans "See in console" %}</a>
                    <a href="{% url "contact_detail" activity.contact.id %}"
                       class="btn btn-primary">{% trans "Contact Details" %}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if activities.has_other_pages %}
    {% include "components/_pagination.html" with page_obj=activities paginator=paginator %}
  {% endif %}
{% endblock %}
