{% extends 'adminlte/base.html' %}
{% load sip i18n %}

{% block no_heading %}
<h1>{% trans "Special route" %}: {{route.name}}</h1>
<p>{% trans 'Manage contacts in this route' %}</p>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% blocktrans with route.number as route_number %}
      List of contacts in route {{route_number}}
    {% endblocktrans %}</h3>
  </div>
  <div class="card-body">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th>{% trans "ID" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Subscription ID" %}</th>
          <th>{% trans "Product" %}</th>
          <th>{% trans "Email" %}</th>
          <th>{% trans "Phone number" %}</th>
          <th>{% trans "Mobile" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for sp in subprods %}
          <tr>
            <td>
              <a href="{% url 'contact_detail' sp.subscription.contact.id %}">{{sp.subscription.contact.id}}</a>
            </td>
            <td>{{sp.subscription.contact.name}}</td>
            <td>{{sp.subscription.id}}</td>
            <td>{{sp.product.name}}</td>
            <td>{{sp.subscription.contact.email|default_if_none:""}}</td>
            <td>{{sp.subscription.contact.phone|default_if_none:""}}</td>
            <td>{{sp.subscription.contact.mobile|default_if_none:""}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
