{% extends 'adminlte/base.html' %}
{% load sip i18n %}
{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'Manage promotions and sales' %}</p>
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/support/">{% trans 'Support' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Promotions and sales' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% trans 'Not contacted' %}</h3>
  </div>
  <div class="card-body">
    {% if campaigns_with_not_contacted %}
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>{% trans 'Campaign name' %}</th>
            <th>{% trans 'Campaign count' %}</th>
            <th>{% trans 'Campaign end date' %}</th>
            <th>{% trans 'Successful' %}</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        {% for campaign in campaigns_with_not_contacted %}
        <tr>
          <td>{{campaign.name}}</td>
          <td>{{campaign.count}}</td>
          <td>{{campaign.end_date|date:"SHORT_DATE_FORMAT"}}</td>
          <td>{{campaign.successful}}</td>
          <td><a class="btn btn-primary btn-sm" href="/support/seller_console/new/{{campaign.id}}/"><i class="fas fa-eye"></i> {% trans 'View' %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "There is nothing here now." %}</p>
    {% endif %}
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% trans 'Activities to do' %}</h3>
  </div>
  <div class="card-body">
    {% if campaigns_with_activities_to_do %}
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>{% trans 'Campaign name' %}</th>
            <th>{% trans 'Pending' %}</th>
            <th>{% trans 'Delayed' %}</th>
            <th>{% trans 'Campaign end date' %}</th>
            <th>{% trans 'Successful' %}</th>
            <th></th>
            <th></th>
          </tr>
      </thead>
      <tbody>
          {% for campaign in campaigns_with_activities_to_do %}
          <tr>
            <td>{{campaign.name}}</td>
            <td>{{campaign.pending}}</td>
            <td>{{campaign.delayed}}</td>
            <td>{{campaign.end_date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{campaign.successful}}</td>
            <td><a class="btn btn-primary btn-sm" href='{% url "scheduled_activities" %}?status=P&campaign={{campaign.id}}'><i class="fas fa-eye"></i> {% trans 'List activities' %}</a></td>
            <td><a class="btn btn-primary btn-sm" href='{% url "seller_console" "act" campaign.id %}'><i class="fas fa-eye"></i> {% trans 'View' %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>{% trans "Congratulations! Everything seems to be done." %}</p>
    {% endif %}
    <div class="m-2 p-2">
    {% trans "Next upcoming activity" %}: {{upcoming_activity.datetime}} - {% trans "Campaign" %}: {{upcoming_activity.campaign}} - <a class="btn-primary btn-sm" href='{% url "scheduled_activities" %}?status=P'><i class="fas fa-eye"></i> {% trans 'List all pending and scheduled activities' %} ({{total_pending_activities}})</a>
    </div>
  </div>
</div>

{% endblock %}
