{% extends 'adminlte/base.html' %}
{% load i18n static %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />

{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product_dynamic_prices.js' %}"></script>


<script type="text/javascript">
    $( function() {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

        $("#address_form").submit(function(event){
            var formData = $(this).serialize();
            event.preventDefault();
            console.log("address is being sent");
            $.ajax({
                method: "POST",
                url: "/support/api_new_address/{{contact.id}}/",
                data: formData,
                success: handleFormSuccess,
                error: handleFormError,
            });
        });

        function handleFormError(){
            console.log("error");
        };

        function handleFormSuccess(data){
            $.each(data, function (key, entry) {
                $(".address_selector").each(function(){
                    $(this).append($('<option selected></option>').attr('value', key).text(entry));
                });
            $("#id_default_address").append($('<option selected></option>').attr('value', key).text(entry));
            });
            $("#address_form").trigger("reset");
            $('#address_modal').modal('hide');
        };

        $("#id_default_address").change(function(){
            $(".address_selector").each(function(){
                $(this).val($("#id_default_address").val());
            });
        });

        function activateSend() {
          var disable = false;
          if ($("#subscription_form input:checkbox:checked").length == 0){
            disable = true;  // Can't submit without a product
          }

          if ($(".address_selector").has('option').length == 0){
            disable = true;  // Can't submit without addresses
          }

          if (disable == false){
            $("#send_form").removeAttr("disabled");  // Enable the send button
          } else {
            $("#send_form").attr("disabled", "disabled");  // Disable the send button
          }
        };

        activateSend();

        $("input:checkbox, select").change(function(){
          activateSend();
        });
    });
</script>
{% endblock %}
{% block no_heading %}
<h1>{% trans 'Support' %}</h1>
<p>{% trans 'Send promo' %}</p>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h2 class="card-title">{% trans 'Send promo' %}</h2>
  </div>
  <div class="card-body">
    <form method="post" id="subscription_form">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="id_name">{{form.name.label}}</label>
        {{form.name}}
      </div>
      <div class="form-group col-sm-6">
        <label for="id_email">{{form.email.label}}</label>
        {{form.email}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="id_phone">{{form.phone.label}}</label>
        {{form.phone}}
      </div>
      <div class="form-group col-sm-6">
        <label for="id_mobile">{{form.mobile.label}}</label>
        {{form.mobile}}
      </div>
    </div>
    <div class="form-group">
      <label for="id_notes">{{form.notes.label}}</label>
      {{form.notes}}
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="id_start_date">{{form.start_date.label}}</label>
        {{form.start_date}}
      </div>
      <div class="form-group col-sm-6">
        <label for="id_end_date">{{form.end_date.label}}</label>
        {{form.end_date}}
      </div>
    </div>
    <div class="form-group">
      <label for="id_default_address">{{form.default_address.label}}</label>
      {{form.default_address}}
    </div>
    <a href="#address_modal" data-toggle="modal" data-target="#address_modal" id="add_address" class="btn bg-gradient-success"><i class="fas fa-plus"></i> {% trans 'Add new address' %}</a>
    <br>
    <div class="mt-4">
    {% for product in offerable_products %}

      <div class="form-group border-bottom pb-2">
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-check">
              <input type='checkbox' name='check-{{product.id}}' class="form-check-input product_checkbox" id="check-{{product.id}}">
              <label for="check-{{product.id}}">{{product.name}}</label>
            </div>
            <select name='address-{{product.id}}' class="address_selector form-control">
                {% for address in contact_addresses %}
                    <option value="{{address.id}}">{{address.address_1}} {{address.city}} {{address.state}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <label for="copies-{{product.id}}"><small>{% trans 'Copies' %}</small></label>
            <input type="text" id="copies-{{product.id}}" name="copies-{{product.id}}" value="1" class="form-control">
          </div>
        </div>
      </div>

    {% endfor %}
    </div>
    <div class="form-group text-right">
      <input type="submit" name='result' value="{% trans 'Cancel' %}" class="btn bg-gradient-secondary">
      <input type="submit" name="result" id="send_form" value="{% trans 'Send' %}" class="btn bg-gradient-primary">
    </div>
    </form>
    </div>
</div>

    <div id="address_modal"  class="modal" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add new address' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" id="address_form">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{address_form.as_p}}
                <div class="form-group text-right">
                  <input id="submit_address" type="submit" value="{% trans 'Save address' %}" class="btn bg-gradient-primary">
                </div>
            </form>
            </div>
          </div>
      </div>
    </div>
{% endblock content %}
