{% extends 'adminlte/base.html' %}
{% load i18n static widget_tweaks %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
$(function() {
  $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
  $('[data-toggle="tooltip"]').tooltip();
  $("#table1").DataTable({
    "paging":   false,
    "info":     false,
    "searching":   false,
  });
});
</script>
{% endblock %}

{% block no_heading %}
<h1>Rendimiento de vendedores por tiempo</h1>
{% endblock %}

{% block title %}
Rendimiento de vendedores por tiempo
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Rendimiento de vendedores desde el {{date_from}} hasta {{date_to}}</h3>
      </div>
      <div class="card-body">
        <dl>
          <dd><b>{% trans "Amount of worked contacts" %}:</b> {{assigned_count}}</dd>
          <dd><b>{% trans "Called contacts" %}:</b> {{called_count}} ({{called_pct|floatformat:2}}%)</dd>
          <dd><b>{% trans "Contacted contacts" %}:</b> {{contacted_count}} ({{contacted_pct|floatformat:2}}%)</dd>
          <dd><b>{% trans "Subscriptions" %}:</b> {{success_count}} ({{success_pct|floatformat:2}}%)</dd>
        </dl>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <form method="GET">
          <div class="row">
            <div class="form-group col">
              <label for="id_date_from">{% trans "Date from" %}</label>
              {% render_field form.date_gte class="form-control datepicker" %}
            </div>
            <div class="form-group col">
              <label for="id_date_to">{% trans "Date to" %}</label>
              {% render_field form.date_lte class="form-control datepicker" %}
            </div>
          </div>
          <div class="row">
            <div class="text-right">
              <input type="submit" class="btn bg-gradient-primary ml-3" value="Filtrar" />
            </div>
          </div>
        </form>

        <table id="table1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th title="Total de clientes en el día" data-toggle="tooltip">Total</th>
              <th title="Llamado" data-toggle="tooltip">Llamado</th>
              <th title="Porcentaje llamado" data-toggle="tooltip">%</th>
              <th title="Contactado" data-toggle="tooltip">Contactado</th>
              <th title="Porcentaje contactado" data-toggle="tooltip">%</th>
              <th title="Suscrito" data-toggle="tooltip">Suscrito</th>
              <th title="Porcentaje suscrito" data-toggle="tooltip">%</th>
              <th title="No contactado" data-toggle="tooltip">No Cont.</th>
              <th title="Porcentaje no contactado" data-toggle="tooltip">%</th>
              <th title="Rechazado" data-toggle="tooltip">Rechazo</th>
              <th title="Porcentaje rechazado" data-toggle="tooltip">%</th>
              <th title="Inubicable" data-toggle="tooltip">Inubic.</th>
              <th title="Porcentaje inubicable" data-toggle="tooltip">%</th>
            </tr>
          </thead>
          <tbody>
            {% for seller in sellers  %}
            <tr>
              <td>{{seller.name}}</td>
              <td>{{seller.assigned_count}}</td>
              <td>{{seller.called_count}}</td>
              <td>{{seller.called_pct|floatformat:0}}%</td>
              <td>{{seller.contacted_count}}</td>
              <td>{{seller.contacted_pct|floatformat:0}}%</td>
              <td>{{seller.success_count}}</td>
              <td>{{seller.success_pct|floatformat:0}}%</td>
              <td>{{seller.not_contacted_yet_count}}</td>
              <td>{{seller.not_contacted_yet_pct|floatformat:0}}%</td>
              <td>{{seller.rejected_count}}</td>
              <td>{{seller.rejected_pct|floatformat:0}}%</td>
              <td>{{seller.unreachable_count}}</td>
              <td>{{seller.unreachable_pct|floatformat:0}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
