{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans "Upload payment certificate" %}{% endblock title %}

{% block no_heading %}
<h1><a href="{% url 'contact_list' %}">{% trans "Contacts" %}</a> &raquo; <a href="{% url 'contact_detail' subscription.contact.id %}">{{subscription.contact.id}} - {{subscription.contact.name}}</a> &raquo; {% trans "Upload payment certificate" %} </h1>
{% endblock no_heading %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="tab-pane" id="payment_certificate">
                <div class="row">
                  <div class="col-md-8">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="card">
                        <div class="card-header">
                          <h2 class="card-title">{% trans "Upload payment certificate" %}</h2>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            {{form.as_p}}
                          </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
