*.idea
*.pyc
*.mo
*.swp
*.log
.coverage*
.env
.flake8
__pycache__
htmlcov
local_*_settings.py
local_settings.py
.local_rev*
media
other
staticfiles
uwsgi.ini
wsgi.py
*.sqlite
.DS_Store
.vscode
.venv
.python-version
