django-autoslug
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-geojson
django-htmx
django-leaflet
django-markdownify
django-rest-framework
django-select2==8.2.1
django-simple-history
django-taggit
django-widget-tweaks
Django==4.1.4
djangorestframework-api-key
html2text
ipython
pandas
postgis
psycopg2
py3dns
pyIsEmail
pymailcheck
pymemcache
PyPDF2
python-dateutil
reportlab
requests
setuptools

# Mercado Pago (optional)
# -r requirements_mercadopago.txt
