chartkick<1
django-autoslug
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-htmx
django-leaflet
django-geojson
django-pdb
django-rest-framework
django-simple-history
django-taggit
django-test-without-migrations
django-widget-tweaks
Django==4.1.4
html2text
ipython
luhn
lxml
postgis
progress
psycopg2
PyPDF2
python-dateutil
pymemcache
reportlab
requests
setuptools
yolk
zeep
