{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
  {% if object_id %}
    <li>
      <a href="{% url "contact_invoices" original.contact_id %}">{% trans "Back to contact invoices" %}</a>
    </li>
    <li>
      <a href="{% url "contact_detail" original.contact_id %}">{% trans "Back to contact" %}</a>
    </li>
    <li>
      <a href="{% url "download_invoice" object_id %}" class="historylink">{% trans "Download invoice" %}</a>
    </li>
    {% if not original.canceled %}
      <li>
        <a href="{% url 'cancel_invoice' object_id %}"
           class="historylink"
           onclick="return confirm('Confirm cancellation of invoice');">{% trans "Cancel" %}</a>
      </li>
      {% if original.creditnote_set.exists %}
        <li>
          <a href="{% url 'force_cancel_invoice' object_id %}"
             class="historylink"
             onclick="return confirm('Confirm cancellation of invoice');">{% trans "Force cancel" %}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
  {{ block.super }}
{% endblock %}
