{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% block extrastyle %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
  <style>
    .info-box {
      min-height: 40px;
    }
  </style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the search input exists
    const searchInput = document.getElementById("adminSearchInput");

    if (searchInput) {
      // Attach the filterModels function to the keyup event
      searchInput.addEventListener("keyup", filterModels);
    }
  });
  function filterModels() {
    const searchInput = document.getElementById('adminSearchInput');
    const filter = searchInput.value.toLowerCase();
    const appCards = document.querySelectorAll('.card-widget');

    appCards.forEach(card => {
      const modelRows = card.querySelectorAll('.card-body > .row');
      let visibleModels = 0;

      modelRows.forEach(row => {
        const modelNameElement = row.querySelector('.text-body');
        if (modelNameElement) {
          const modelName = modelNameElement.textContent;
          const isVisible = modelName.toLowerCase().includes(filter);
          row.style.display = isVisible ? '' : 'none';
          if (isVisible) visibleModels++;
        } else {
          // If .text-body is missing, hide the row for safety
          row.style.display = 'none';
        }
      });

      // Hide the entire app card if no models are visible
      card.style.display = visibleModels > 0 ? '' : 'none';
    });
  }
</script>
{% endblock extra_js %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="row mb-2">
      <div class="col-sm-4">
        <h2>{{ title }}</h2>
      </div>
      <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i> {% trans "Home" %}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans "Admin" %}</a>
          </li>
        </ol>
      </div>
    </div>
  {% endblock %}
{% endif %}
{% block content %}
  <div id="content-main" class="container-fluid">
    <div class="row">
      {% if app_list %}
        {% for app in app_list %}
          <div class="card card-widget col-md-12">
            <div class="card-header ">
              <h3 class="card-title font-weight-bold">
                <a href="{{ app.app_url }}"
                   class="nav-link text-body h5"
                   title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
              </h3>
              <div class="card-tools pull-right">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="card-body py-2">
              {% for model in app.models %}
                <div class="row mb-2">
                  <div class="info-box bg-light col-12 py-1 mb-0">
                    <div class="info-box-content d-flex align-items-center">
                      <div class="col">
                        <a class="text-body h6 mb-0 font-weight-bold" href="{{ model.admin_url }}">{{ model.name }}</a>
                      </div>
                      <div class="col-auto">
                        {% if model.add_url %}
                          <a href="{{ model.add_url }}" class="btn btn-success btn-sm mx-1">
                            <i class="fa fa-plus"></i> {% trans "Add" %}
                          </a>
                        {% endif %}
                        {% if model.admin_url %}
                          <a href="{{ model.admin_url }}" class="btn btn-secondary btn-sm mx-1">
                            <i class="fa fa-pencil"></i> {% trans "Change" %}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
      </div>
    {% endfor %}
  {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
  {% endif %}
</div>
<!-- /.box-body -->
{% block sidebar %}
  <div class="card card-widget col-md-12">
    <div class="card-header ">
      <h2 class="card-title">{% trans "Recent actions" %} /</h2>
      <h3 class="card-title">{% trans "My actions" %}</h3>
      <h3 class="card-title">
        <a href="{{ app.app_url }}"
           class="nav-link"
           title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
      </h3>
      <div class="card-tools pull-right">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          {% load log %}
          {% get_admin_log 10 as admin_log for_user user %}
          {% if not admin_log %}
            <p>{% trans "None available" %}</p>
          {% else %}
            <div class="timeline">
              {% for entry in admin_log %}
                <div>
                  <i class="fas fa-{% if entry.is_addition %}plus bg-blue{% endif %}{% if entry.is_change %}edit bg-green{% endif %}{% if entry.is_deletion %}minus bg-red{% endif %} "></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> {{ entry.action_time }}</span>
                    <div class="timeline-body">
                      <a href="#">{{ entry.user }}</a>
                      {% if entry.is_addition %}added{% endif %}
                      {% if entry.is_change %}edited{% endif %}
                      {% if entry.is_deletion %}deleted{% endif %}
                      {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                      {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                      {% endif %}
                      <br />
                      {% if entry.content_type %}
                        <span class="mini quiet">
                          {% filter capfirst %}
                            {{ entry.content_type }}
                          {% endfilter %}
                        </span>
                      {% else %}
                        <span class="mini quiet">{% trans "Unknown content" %}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</div>
{% endblock %}
