{% extends "adminlte/base.html" %}
{% load static l10n i18n %}

{% block title %}
    {% trans "Bill subscriptions" %}
{% endblock %}

{% block page_name %}
Facturar contacto: <a href="{% url 'contact_detail' contact.id %}">{{ contact.get_full_name }}</a>
{% endblock %}

{% block content %}
    {% localize off %}
        {% if contact.protected %}
            <div class="alert alert-danger">
                ATENCION: CLIENTE PROTEGIDO<br/>
                {{ cliente.razon_proteccion|linebreaks }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="creation_date" value="{{ today }}"> Fecha emisión<br>
            <input type="text" name="dpp" value="10"> Días para pagar<br>
            <input type="submit">
        </form>
        {{ error }}
    {% endlocalize %}
{% endblock %}
