{% extends 'adminlte/base.html' %}
{% load i18n admin_urls %}

{% block title %}{% trans "Cancel invoice" %}{% endblock %}

{% block pagetitle %}Anulación de factura{% endblock %}

{% block content %}

  {% if credit_note %}

    <p>
      {% trans "The invoice" %} <a href="{% url 'admin:invoicing_invoice_change' invoice_id %}">{{ invoice_id }}</a>
      {% trans "has been canceled and the credit note number" %}
      <a href="{% url 'admin:invoicing_creditnote_change' credit_note.id %}">{{ credit_note.id }}</a>
      {% trans "has been created" %}.
    </p>

    {% if error %}
      <p><strong style="color:orange">{% trans "WARNING" %}</strong> {{ error }}</p>
    {% endif %}

  {% else %}

    <p>
      <strong style="color:red">ERROR:</strong> {% trans "The invoice couldn't be canceled" %}<br>
      <strong>{% trans "Error detail" %}:</strong> {{ error }}{% if notes %}:{% endif %}
      {% if notes %}<ul>{% endif %}
      {% for note in notes %}
        <li><a href="{% url 'admin:invoicing_creditnote_change' note.id %}">{{ note.id }}</a></li>
      {% endfor %}
      {% if notes %}</ul>{% endif %}
    </p>

  {% endif %}

{% endblock %}
