{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks core_tags %}

{% block no_heading %}
<h1>{% trans "Invoices for contact:" %} <a href="{% url 'contact_detail' contact.id %}">{{ contact.name }}</a></h1>
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/jquery-ui/jquery-ui.min.css' %}" />

    <style type="text/css">
      .o { background-color:#CD5C5C; color: #fff; }
      .p { background-color:#32CD32; color: #fff; }
      .c { background-color:#C0C0C0;  }
      .u { background-color:#FFD700;  }
    </style>
{% endblock %}

{% block title %}
    {% trans "Invoices" %} - {{contact.name}}
{% endblock title %}

{% block content %}
<div class="row">
    {% if contact.protected %}
        <div class="col-md-12">
            <div  class="alert alert-warning  col-md-3">
              <h5><i class="fas fa-exclamation-circle"></i> {% trans "WARNING: Protected contact" %}</h5>
              <p>{{ contact.protection_reason|linebreaks }}</p>
            </div>
        </div>
      {% endif %}

      {% if debt %}
      <div class="col-md-12">

        <div class="alert alert-danger">
            <i class="fas fa-exclamation-circle"></i>
            <span class="info-box-text">{% trans "Debt" %}:</span>
            <span class="info-box-number"><b>{{debt}}</b></span>
        </div>
      </div>
      {% endif %}

      <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex">
              <h3 class="card-title flex-fill">
                 {% trans "Invoices" %}
              </h3>
              {% if request.user|in_group:"Finances"  %}
                <a class="btn btn-sm btn-primary float-end" href="/invoicing/bill_one_contact/{{ contact.id }}/">{% trans "Bill contact subscriptions" %}</a>
              {% endif %}
            </div>
            <div class="card-body">
              <table class="table ">
                <thead>
                  <tr role="row">
                    <th>{% trans "Invoice" %}</th>
                    <th>{% trans "Subscription" %}</th>
                    <th>{% trans "Service from" %}</th>
                    <th>{% trans "Service to" %}</th>
                    <th>{% trans "Created" %}</th>
                    <th>{% trans "Due" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Payment method" %}</th>
                    <th>{% trans "Status" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for invoice in invoice_list %}
                  <tr role="row">
                    <td>
                      <a href="/admin/invoicing/invoice/{{ invoice.id }}/">{{ invoice.id }}</a>
                      {% if invoice.pdf %}
                        {% if request.user|in_group:"Finances" or request.user|in_group:"Managers" or request.user|in_group:"Logistics" or request.user|in_group:"Support" %}
                          <a href="/invoicing/download_invoice/{{ invoice.id }}/" title="{% trans 'Download invoice' %}">
                            <img src="{% static 'img/pdficon_small.png' %}" alt="PDF"/>
                          </a>
                        {% endif %}
                      {% else %}
                          <i class="fas fa-exclamation-triangle text-warning" title="{% trans 'No pdf' %}"></i>
                      {% endif %}
                    </td>
                    <td>{{ invoice.subscription_id }}</td>
                    <td>{{ invoice.service_from }}</td>
                    <td>{{ invoice.service_to }}</td>
                    <td>{{ invoice.creation_date }}</td>
                    <td>{{ invoice.expiration_date }}</td>
                    <td>{{ invoice.amount }}</td>
                    <td>{{ invoice.payment_type }}</td>
                    <td class="{{ invoice.get_status_code }} text-center">{{ invoice.get_status }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% if lista_facturas_items %}
                  <h3>{% trans "Item invoices" %}</h3>
                  <table cellpadding="2" cellspacing="2">
                        <tr>
                            <th>{% trans "Invoice" %}</th>
                            <th>{% trans "From" %}</th>
                            <th>{% trans "To" %}</th>
                            <th>{% trans "Issue" %}</th>
                            <th>{% trans "Due" %}</th>
                            <th>{% trans "Amount" %}</th>
                            <th>{% trans "Payment method" %}</th>
                            <th>{% trans "Status" %}</th>
                        </tr>
                    {% for factura in lista_facturas_items %}
                       <tr class="{% cycle 'row1' 'row2' %}">
                            <td><a href="/admin/invoicing/invoice/{{ invoice.id }}/">{{ invoice.id }}</a></td>
                            <td>{{ factura.servicio_desde }}</td>
                            <td>{{ factura.servicio_hasta }}</td>
                            <td>{{ factura.fecha_emision }}</td>
                            <td>{{ factura.fecha_vencimiento }}</td>
                            <td>{{ factura.importe }}</td>
                            <td>{{ factura.metodo_pago }}</td>
                            {% ifequal factura.estado "paga" %}
                              <td class="paga">{% trans "PAID" %} {{ factura.fecha_pago }}</td>
                            {% else %}
                              <td class="{{ factura.estado }}">{{ factura.estado }}</td>
                            {% endifequal %}
                        </tr>
                    {% endfor %}
                  </table>
              {% endif %}
            </div>
          </div>
        </div>
{% endblock %}
