{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/jquery-ui/jquery-ui.min.css' %}" />
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
  $(function() {
    $('#id_creation_date').change(function(){
      var option = $(this).val();
      if(option == "custom") {
        $('.creation-range').removeClass('d-none');
      }else {
        $('.creation-range').addClass('d-none');
        $('#id_creation_gte').attr('value', '');
        $('#id_creation_lte').attr('value', '');
      }
    });
    $('#id_creation_date').change();
    $('#id_creation_gte').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#id_creation_lte').datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>

{% endblock %}
{% block no_heading %}
<h1>{% trans 'Invoice filter' %}</h1>
<p>{% trans 'Manage invoices.' %}</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form method="GET" id="form">
            <div class="row">
              <div class="form-group col">
                <label for="phone">{% trans "Contact name" %}</label>
                {% render_field invoice_filter.form.contact_name class="form-control" %}
              </div>
                <div class="form-group col">
                  <label for="creation_date">{% trans "Creation date" %}</label>
                    {% render_field invoice_filter.form.creation_date class="form-control " %}
                </div>
              <div class="creation-range hidden d-none col-4">
                <div class="row">
                  <div class="form-group col">
                    <label for="creation_date_gte">{% trans "Creation date (from)" %}</label>
                      {% render_field invoice_filter.form.creation_gte class="form-control" %}
                  </div>
                  <div class="form-group col">
                    <label for="creation_date_lte">{% trans "Creation date (to)" %}</label>
                      {% render_field invoice_filter.form.creation_lte class="form-control" %}
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Status" %}</label>
                {% render_field invoice_filter.form.status class="form-control" %}
              </div>
            </div>
            <div class="text-right">

              <input type="submit" class="btn bg-gradient-primary ml-3" value="{% trans 'Search' %}" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="callout callout-info">
        <h5>{% trans "Invoices" %}: {{invoices_count}}</h5>
        <p>{% trans "Paid" %}: {{paid_count}}, {% trans "Pending" %}:{{pending_count}}, {% trans "Overdue" %}: {{overdue_count}}, {% trans "Canceled" %}: {{canceled_count}}, {% trans "Uncollectible" %}:{{uncollectible_count}}</p>
        <a href="{% url 'invoice_filter' %}" class="text-danger"><u>{% trans "Reset" %}</u></a>
      </div>
    </div>
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table id="table1" class="table ">
              <thead>
                  <tr role="row">
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Subscriptions" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Payment type" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Due" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Details" %}</th>
                  </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                <tr role="row">
                  <td>{{invoice.id}}</td>
                  <td><a href='{% url "contact_detail" invoice.contact.id %}' target="_blank">{{invoice.contact.name}}</a></td>
                  <td>{% autoescape off %}{{invoice.subscription.show_products_html}}{% endautoescape %}</td>
                  <td>{{invoice.amount}}</td>
                  <td>{{invoice.get_payment_type}}</td>
                  <td>{{invoice.creation_date}}</td>
                  <td>{{invoice.expiration_date}}</td>
                  <td>{{invoice.get_status}}</td>
                  <td><a href='{% url "admin:invoicing_invoice_change" invoice.id %}' target="_blank" class="btn-sm btn-primary">{% trans "Details" %}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% if invoices.has_other_pages %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if invoices.number == 1 %}
            <li class="page-item disabled"><span class="page-link">{% trans "first" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' 1 %}">{% trans "first" %}</a></li>
        {% endif %}
        {% if invoices.has_previous %}
            <li><a class="page-link" href="?{% url_replace request 'p' invoices.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:invoices.number %}
            {% if invoices.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">{% trans "(current)" %}</span></span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'p' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if invoices.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'p' invoices.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if invoices.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">{% trans "last" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' paginator.num_pages %}">{% trans "last" %}</a></li>
        {% endif %}
    </ul>
  {% endif %}
  </div>

{% endblock %}
