{% extends "adminlte/base.html" %}
{% load static i18n widget_tweaks %}
{% block title %}
  {% trans "Invoice filter" %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
  $(function() {
    $('#id_creation_date').change(function(){
      var option = $(this).val();
      if(option == "custom") {
        $('.creation-range').removeClass('d-none');
      }else {
        $('.creation-range').addClass('d-none');
        $('#id_creation_gte').attr('value', '');
        $('#id_creation_lte').attr('value', '');
      }
    });
    $('#id_creation_date').change();
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
  });
  </script>
{% endblock %}

{% block no_heading %}
  <h1>{% trans "Invoice filter" %}</h1>
  <p>{% trans "Manage invoices." %}</p>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form method="get" id="form">
            <div class="row">
              <div class="form-group col">
                <label for="phone">{% trans "Contact name" %}</label>
                {% render_field invoice_filter.form.contact_name class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="creation_date">{% trans "Creation date" %}</label>
                {% render_field invoice_filter.form.creation_date class="form-control " %}
              </div>
              <div class="creation-range hidden d-none col-4">
                <div class="row">
                  <div class="form-group col">
                    <label for="creation_date_gte">{% trans "Creation date (from)" %}</label>
                    {% render_field invoice_filter.form.creation_gte class="form-control datepicker" %}
                  </div>
                  <div class="form-group col">
                    <label for="creation_date_lte">{% trans "Creation date (to)" %}</label>
                    {% render_field invoice_filter.form.creation_lte class="form-control datepicker" %}
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Status" %}</label>
                {% render_field invoice_filter.form.status class="form-control" %}
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="status">{% trans "Payment type" %}</label>
                {% render_field invoice_filter.form.payment_type class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Payment from" %}</label>
                {% render_field invoice_filter.form.payment_gte class="form-control datepicker" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Payment to" %}</label>
                {% render_field invoice_filter.form.payment_lte class="form-control datepicker" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Series" %}</label>
                {% render_field invoice_filter.form.serie class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "Number" %}</label>
                {% render_field invoice_filter.form.numero class="form-control" %}
              </div>
              <div class="form-group col">
                <label for="status">{% trans "No serial" %}</label>
                {% render_field invoice_filter.form.no_serial class="form-control" %}
              </div>
            </div>
            <div class="text-right">
              {{ invoices_count }} {% trans "invoices" %}
              <input type="submit"
                     class="btn bg-gradient-primary ml-3"
                     value="{% trans "Export to CSV" %}"
                     name="export" />
              <input type="submit"
                     class="btn bg-gradient-primary ml-3"
                     value="{% trans "Search" %}" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="callout callout-info">
        <h5>{% trans "Invoices" %}: {{ invoices_count }} (${{ invoices_sum|default_if_none:"0" }})</h5>
        <p>
          {% trans "Paid" %}: {{ paid_count }} (${{ paid_sum|default_if_none:"0" }}), {% trans "Pending" %}:{{ pending_count }} (${{ pending_sum|default_if_none:"0" }}), {% trans "Overdue" %}: {{ overdue_count|default_if_none:"0" }} (${{ overdue_sum|default_if_none:"0" }}), {% trans "Canceled" %}: {{ canceled_count|default_if_none:"0" }} (${{ canceled_sum|default_if_none:"0" }}), {% trans "Uncollectible" %}:{{ uncollectible_count|default_if_none:"0" }} (${{ uncollectible_sum|default_if_none:"0" }})
        </p>
        <a href="{% url 'invoice_filter' %}" class="text-danger"><u>{% trans "Reset" %}</u></a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table id="table1" class="table ">
            <thead>
              <tr role="row">
                <th>{% trans "Id" %}</th>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "Items" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Payment type" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Service from" %}</th>
                <th>{% trans "Service to" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "S/N" %}</th>
                <th>{% trans "Details" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for invoice in invoices %}
                <tr role="row">
                  <td>{{ invoice.id }}</td>
                  <td>
                    {% if invoice.contact %}
                      <a href='{% url "contact_detail" invoice.contact.id %}' target="_blank">{{ invoice.contact.get_full_name }}</a>
                    {% else %}
                      {% trans "Invoice has no contact!" %}
                    {% endif %}
                  </td>
                  <td>
                    {% autoescape off %}
                      {{ invoice.get_invoiceitem_description_list }}
                    {% endautoescape %}
                  </td>
                  <td>{{ invoice.amount }}</td>
                  <td>{{ invoice.get_payment_type }}</td>
                  <td>{{ invoice.creation_date|date:"d/m/Y" }}</td>
                  <td>{{ invoice.service_from|date:"d/m/Y" }}</td>
                  <td>{{ invoice.service_to|date:"d/m/Y" }}</td>
                  <td>{{ invoice.get_status }}</td>
                  <td>
                    {{ invoice.serie|default:"N/A" }} {{ invoice.numero|default:"" }}
                  </td>
                  <td>
                    <a href='{% url "invoice_detail" invoice.id %}'
                       class="btn-sm btn-primary">{% trans "Details" %}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% if invoices.has_other_pages %}
      {% include "components/_pagination.html" with page_obj=invoices %}
    {% endif %}
  </div>
{% endblock %}
