{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">
    $(function(){
      {% include 'email_suggestion_dialog_js.html' with form=adminform.form %}
    });
  </script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/email_suggestion_dialog.css' %}">
{% endblock %}

{% block form_top %}
  {% with form=adminform.form %}
    {% include "email_suggestion_dialog.html" %}
    {% if errors %}
      {{ form.email_was_valid }}{{ form.email_replaced }}{{ form.email_replacement }}{{ form.email_suggestion }}
    {% endif %}
  {% endwith %}
{% endblock %}
