{% extends "adminlte/base.html" %}
{% load i18n %}

{% block no_heading %}
  <h1>{% trans "Home" %}</h1>
  <p>{% trans "Your starting point" %}</p>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        {% blocktrans with first_name=request.user.first_name %}Hi {{first_name}}, choose your destination{% endblocktrans %}
      </h2>
    </div>
    <div class="card-body">
      {% block main_menu_content %}
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{% trans "Contacts" %}</h3>
              </div>
              <div class="card-body">
                <p>{% trans "Manage all contacts in the database." %}</p>
                <div class="text-right">
                  <a href="{% url 'contact_list' %}" class="btn btn-default">{% trans "Go to contacts" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
