{% extends 'adminlte/base.html' %}
{% load static core_tags i18n %}

{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/stylish-tables.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block no_heading %}
<h1>{% trans 'Home' %}</h1>
<p>{% trans 'Your starting point' %}</p>
{% endblock %}


{% block content %}
<div class="card">
  <div class="card-header">
    <h2 class="card-title">{% trans 'Hi' %} {{request.user.first_name}}, {% trans ' choose your destination' %}</h2>
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-lg-3 col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans 'Contacts' %}</h3>
            </div>
            <div class="card-body">
              <p>{% trans 'Manage all contacts in the database.' %}</p>
              <div class="text-right">
                <a href="{{contact_list}}" class="btn btn-default">{% trans "Go to contacts" %}</a>
              </div>
            </div>
          </div>
        </div>

        {% if request.user|in_group:"Support" %}
        <div class="col-lg-3 col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans 'Support' %}</h3>
            </div>
            <div class="card-body">
              <p>{% trans 'Manage everything related to contacts, issues, and customer support.' %}</p>
              <div class="text-right">
                <a href="{{list_issues}}" class="btn btn-default">{% trans "Go to support" %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if request.user|in_group:"Finances" %}
        <div class="col-lg-3 col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans 'Finances' %}</h3>
            </div>
            <div class="card-body">
              <p>{% trans 'Manage everything related to invoices and finances' %}</p>
              <div class="text-right">
                <a href="{{billings_control_panel}}" class="btn btn-default">{% trans "Go to finances" %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if request.user|in_group:"Logistics" %}
        <div class="col-lg-3 col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% trans 'Logistics' %}</h3>
            </div>
            <div class="card-body">
              <p>{% trans 'Make sure your product gets anywhere you want it to go.' %}</p>
              <div class="text-right">
                <a href="{{list_routes}}" class="btn btn-default">{% trans "Go to logistics" %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

     </div>
  </div>
</div>


{% endblock %}
