{% load i18n %}
<div class="modal fade"
     id="activityView-{{ activity.id }}"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Activity" %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>{% trans "Date" %}</dt>
          <dd>
            {{ activity.datetime }}
          </dd>
          <dt>{% trans "Type" %}</dt>
          <dd>
            {{ activity.get_type_display }}
          </dd>
          <dt>{% trans "Direction" %}</dt>
          <dd>
            {{ activity.get_direction }}
          </dd>
          {% if activity.notes %}
            <dt>{% trans "Notes" %}</dt>
            <dd>
              {{ activity.notes|linebreaks }}
            </dd>
          {% endif %}
          {% if activity.seller %}
            <dt>{% trans "Seller" %}</dt>
            <dd>
              {{ activity.seller }}
            </dd>
          {% endif %}
          {% if activity.campaign %}
            <dt>{% trans "Campaign" %}</dt>
            <dd>
              {{ activity.campaign }}
            </dd>
          {% endif %}
          <dt>{% trans "Status" %}</dt>
          <dd>
            {{ activity.get_status }}
          </dd>
          {% if activity.seller %}
            <dt>{% trans "Seller" %}</dt>
            <dd>
              {{ activity.seller }}
            </dd>
          {% endif %}
          {% if activity.created_by %}
            <dt>{% trans "Created by" %}</dt>
            <dd>
              {{ activity.created_by_name }}
            </dd>
          {% endif %}
          {% if activity.topic %}
            <dt>{% trans "Topic" %}</dt>
            <dd>
              {{ activity.topic }}
            </dd>
          {% endif %}
          {% if activity.response %}
            <dt>{% trans "Response" %}</dt>
            <dd>
              {{ activity.response }}
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
