{% load i18n core_tags %}
<div class="row">
  <div class="card col-sm-9">
    <div class="card-header">
      <h3 class="card-title">{% trans "General information" %}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <dt>{% trans "Name" %}</dt>
          <dd>
            {{ contact.get_full_name|default_if_none:"-" }}
          </dd>
          <dt>{% trans "ID document" %}</dt>
          <dd>
            <div class="mb-0">
              <span class="font-weight-bold">{% trans "Type" %}:</span> {{ contact.id_document_type|default_if_none:"-" }}
            </div>
            <div>
              <span class="font-weight-bold">{% trans "Indentifier" %}:</span> {{ contact.id_document|default_if_none:"-" }}
            </div>
          </dd>
          <dt>{% trans "Email" %}</dt>
          <dd>
            {{ contact.email|default:"-" }}
          </dd>
        </div>
        <div class="col-4">
          <dt>{% trans "Phone" %}</dt>
          <dd>
            {{ contact.phone.as_national|default:"-" }}
          </dd>
          {% if contact.mobile %}
            <dt>{% trans "Mobile" %}</dt>
            <dd>
              {{ contact.mobile.as_national|default:"-" }}
            </dd>
          {% endif %}
          {% if contact.work_phone %}
            <dt>{% trans "Institutional phone" %}</dt>
            <dd>
              {{ contact.work_phone|default:"-" }}
            </dd>
          {% endif %}
          {% if contact.tags.all %}
            <dt>{% trans "Tags" %}</dt>
            <dd>
              {% for tag in contact.tags.all %}
                <a href="{% url "contact_list" %}?tags={{ tag.name }}">
                  <span class="btn btn-default btn-sm">{{ tag }}</span>
                </a>
              {% endfor %}
            </dd>
          {% endif %}
        </div>
        <div class="col-4">
          {% comment %}
            TODO: ADD OTHER STUFF HERE (specify which other stuff is needed)
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <a href="{% url "edit_contact" contact.id %}" class="btn btn-success">{% trans "Edit info and newsletters" %}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-sm-9">
    <div class="card-header">
      <h3 class="card-title">{% trans "Addresses" %}</h3>
    </div>
    <div class="card-body">
      {% if addresses %}
        {% for address in addresses %}
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                {% if address.default %}<i class="fas fa-star" title="{% trans 'Default' %}"></i>{% endif %}
                {{ address }}
                {% if address.verified %}
                  <i class="fas fa-check-circle text-success"> {% trans "Verified" %}</i>
                {% elif address.needs_georef %}
                  <i class="fas fa-times-circle text-danger"> {% trans "Saved without Georef" %}</i>
                {% endif %}
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <dl>
                    <dt>{% trans "Address 1" %}</dt>
                    <dd>
                      {{ address.address_1|default_if_none:"-" }}
                    </dd>
                  </dl>
                  {% if address.address_2 %}
                    <dt>{% trans "Address 2" %}</dt>
                    <dd>
                      {{ address.address_2|default_if_none:"-" }}
                    </dd>
                  {% endif %}
                  {% if address.name %}
                    <dt>{% trans "Name" %}</dt>
                    <dd>
                      {{ address.name|default_if_none:"-" }}
                    </dd>
                  {% endif %}
                </div>
                <div class="col">
                  <dt>{% trans "City" %}</dt>
                  <dd>
                    {% if not address.get_city %}<i class="fas fa-exclamation-triangle text-danger"></i>{% endif %}
                    {{ address.get_city|default_if_none:"-" }}
                  </dd>
                  <dt>{% trans "State" %}</dt>
                  <dd>
                    {% if not address.state %}<i class="fas fa-exclamation-triangle text-danger"></i>{% endif %}
                    {{ address.state_name|default_if_none:"-" }}
                  </dd>
                  <dt>{% trans "Country" %}</dt>
                  <dd>
                    {% if not address.state %}<i class="fas fa-exclamation-triangle text-danger"></i>{% endif %}
                    {{ address.state.country.name|default_if_none:"-" }}
                  </dd>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {% if address.notes %}
                    <dt>{% trans "Address notes" %}</dt>
                    <dd>
                      {{ address.notes|default_if_none:"-" }}
                    </dd>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              {% if georef_activated %}
                {% if not address.verified %}
                  <a href="{% url "normalizar_direccion" contact.id address.id %}"
                     class="btn btn-gradient btn-primary">{% trans "Normalize" %}</a>
                {% endif %}
              {% endif %}
              <a href="{% url "editar_direccion" contact.id address.id %}"
                 class="btn btn-gradient btn-primary">{% trans "Edit address" %}</a>
              <a href="{% url "edit_address_complementary_information" address.id %}"
                 class="btn btn-gradient btn-primary">{% trans "Complementary information" %}</a>
              {% if request.user|in_group:"Managers" %}
                <a href="{% url "admin:core_address_change" address.id %}"
                   class="btn btn-gradient btn-danger">{% trans "Admin" %}</a>
                <a href="{% url "admin:core_address_delete" address.id %}"
                   class="btn btn-gradient btn-danger">{% trans "Delete address" %}</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% trans "This contact has no addresses" %}
      {% endif %}
      <div class="text-right">
        <a href="{% url "agregar_direccion" contact.id %}"
           class="btn btn-gradient btn-primary">{% trans "Add Address" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-sm-9">
    <div class="card-header">
      <h3 class="card-title">{% trans "Notes" %}</h3>
    </div>
    <div class="card-body">{{ contact.notes|default_if_none:"-"|linebreaksbr }}</div>
  </div>
</div>
