{% load i18n core_tags %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Contact information" %}</h3>
      </div>
      <div class="card-body">
        <dl>
          <dt>{% trans "Name" %}</dt>
          <dd>
            {{ contact.get_full_name }}
          </dd>
          {% if contact.id_document %}
            <dt>{% trans "Documento" %}</dt>
            <dd>
              {{ contact.id_document }}
            </dd>
          {% endif %}
          <dt>{% trans "Email" %}</dt>
          <dd>
            {{ contact.email|default_if_none:"No tiene email" }}
          </dd>
          <dt>{% trans "Phone" %}</dt>
          <dd>
            {{ contact.phone }}
          </dd>
          {% if contact.mobile %}
            <dt>{% trans "Mobile" %}</dt>
            <dd>
              {{ contact.mobile }}
            </dd>
          {% endif %}
          {% if contact.work_phone %}
            <dt>{% trans "Work phone" %}</dt>
            <dd>
              {{ contact.work_phone }}
            </dd>
          {% endif %}
          {% if addresses %}
            <dt>{% trans "Addresses" %}</dt>
            {% for address in addresses %}
              {% if address.address_1 == None %}
              {% else %}
                <dd>
                  {{ address }}
                  {% if address.needs_georef %}<i class="fas fa-times-circle text-danger"></i>{% endif %}
                  {% if not address.verified %}
                    <a href="{% url "normalizar_direccion" contact.id address.id %}"
                       class="btn-sm btn-info m-2">{% trans "Normalize" %}</a>
                  {% else %}
                    <i class="fas fa-check-circle text-success"></i>
                  {% endif %}
                </dd>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if contact.tags.all %}
            <dt>{% trans "Tags" %}</dt>
            <dd>
              {% for tag in contact.tags.all %}<span class="btn btn-default btn-sm">{{ tag }}</span>{% endfor %}
            </dd>
          {% endif %}
        </dl>
        <a href="{% url "edit_contact" contact.id %}" class="btn btn-success">{% trans "Edit info and newsletters" %}</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Payments" %}</h3>
      </div>
      <div class="card-body">
        <dl>
          {% block payment_requests %}
          {% endblock payment_requests %}

          {% if last_paid_invoice or contact.get_debt %}
            <dt>{% trans "Latest payment" %}</dt>
            {% if last_paid_invoice %}
              <dd>
                {{ last_paid_invoice.payment_date }} (${{ last_paid_invoice.amount }})
              </dd>
              <dt>{% trans "Total invoices paid" %}</dt>
              <dd>
                {{ contact.get_paid_invoices_count }}
              </dd>
            {% else %}
              <dd>
                N/A
              </dd>
            {% endif %}
            <dt>{% trans "Payment type of last invoice" %}</dt>
            <dd>
              {{ contact.get_latest_invoice.get_payment_type }}
            </dd>
            {% if contact.get_debt %}
              <dt>{% trans "Debt" %}</dt>
              <dd>
                ${{ contact.get_debt }} ({{ contact.expired_invoices_count }}
                {% trans "overdue invoices" %})<i class="fas fa-exclamation-triangle text-danger"></i>
              </dd>
            {% endif %}
          {% else %}
            <dd>
              {% trans "This contact has no payment data" %}
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    {% if contact.notes %}
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans "Notes" %}</h3>
        </div>
        <div class="card-body">{{ contact.notes|linebreaks }}</div>
      </div>
    {% endif %}
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {% trans "Active subscriptions" %}
          {% if overview_subscriptions %}({{ overview_subscriptions|length }}){% endif %}
        </h3>
        <div class="card-tools">
          {% block products_amount %}
          {% endblock products_amount %}

          {% if contact.invoice_set.exists %}
            <h3 class="bg-success font-weight-bold rounded d-inline-block p-1"
                title="Año de primera factura"
                data-toggle="tooltip">{{ contact.date_of_first_invoice.year }}</h3>
          {% endif %}
        </div>
      </div>
      <div class="card-body p-0">
        {% if active_subscriptions or future_subscriptions or awaiting_payment_subscriptions %}
          <div class="list-group list-group-flush">
            {% for subscription in active_subscriptions %}
              {% include "contact_detail/tabs/includes/_overview_subscription_list_item.html" %}
            {% endfor %}
            {% for subscription in future_subscriptions %}
              {% include "contact_detail/tabs/includes/_overview_subscription_list_item.html" with future=True %}
            {% endfor %}
            {% for subscription in awaiting_payment_subscriptions %}
              {% include "contact_detail/tabs/includes/_overview_subscription_list_item.html" with awaiting_payment=True %}
            {% endfor %}
          </div>
        {% else %}
          <div class="p-3">{% trans "This contact has no subscriptions to show" %}</div>
        {% endif %}
      </div>
      {% if request.user|in_group:"Support" or request.user|in_group:"Managers" %}
        <div class="card-footer">
          <a href="{% url "new_subscription" contact.id %}"
             class="btn btn-primary float-right"><i class="fas fa-plus-circle"></i> {% trans "Add subscription" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Latest issues" %}</h3>
      </div>
      <div class="card-body">
        {% if issues %}
          <dl>
            {% for issue in issues %}
              <div class="card">
                <div class="card-body">
                  <dt class="d-flex justify-content-between">
                    <p>{{ issue.get_category }} - {{ issue.get_subcategory }}</p>
                    <p>
                      <a href="{% url "view_issue" issue.id %}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                    </p>
                  </dt>
                  <dd>
                    {{ issue.get_status|default_if_none:"" }} {{ issue.assigned_to|default_if_none:"" }}
                  </dd>
                  <dd>
                    {{ issue.date_created }}
                  </dd>
                  <dd>
                    {{ issue.notes|default_if_none:""|linebreaks }}
                  </dd>
                </div>
              </div>
            {% endfor %}
          </dl>
        {% else %}
          <dl>
            <dd>
              {% trans "This contact has no issues" %}
            </dd>
          </dl>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Latest activities" %}</h3>
      </div>
      <div class="card-body">
        {% if activities %}
          <dl>
            {% for a in activities %}
              <div class="card">
                <div class="card-body">
                  <dt>
                    {{ a.get_type }}
                    {% if a.campaign %}<i>{{ a.campaign.name }}</i>{% endif %}
                  </dt>
                  <dd>
                    <b>{% trans "Status" %}:</b> {{ a.get_status }}
                  </dd>
                  {% if a.datetime %}
                    <dd>
                      <b>{% trans "Date" %}</b>: {{ a.datetime|date:"SHORT_DATETIME_FORMAT" }}
                    </dd>
                  {% endif %}
                  {% if a.notes %}
                    <dd>
                      <b>{% trans "Notes" %}</b>: {{ a.notes|linebreaks|default_if_none:"" }}
                    </dd>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </dl>
        {% else %}
          <dl>
            <dd>
              {% trans "This contact has no activities" %}
            </dd>
          </dl>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {% trans "Newsletters" %}
          {% if newsletters %}
            {# show icon references #}
            <span>
              ( <i class="fas fa-check-circle"></i> = {% trans "active" %},
              <i class="fas fa-times-circle"></i> = {% trans "inactive" %} )
            </span>
          {% endif %}
        </h3>
      </div>
      <div class="card-body">
        {% if newsletters %}
          <ul class="pl-3">
            {% for newsletter in newsletters %}
              <li>
                <i class="fas fa-{% if newsletter.active %}check{% else %}times{% endif %}-circle">
                </i>
                {{ newsletter.product.name }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {% trans "This contact has no newsletter subscriptions" %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
