{% load i18n core_tags %}
{% for subscription_group in subscription_groups %}
  {% if subscription_group.subscriptions %}
    <div class="row">
      <div class="card col-12 {% if subscription_group.collapsed %}collapsed-card{% endif %}">
        <div class="card-header">
          <h3 class="card-title">
            {{ subscription_group.title }}
            {% if subscription_group.subscriptions %}({{ subscription_group.subscriptions|length }}){% endif %}
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-{% if subscription_group.collapsed %}plus{% else %}minus{% endif %}"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          {% for subscription in subscription_group.subscriptions %}
            {% include "contact_detail/tabs/includes/_subscription_card.html" with subscription=subscription %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% if subscriptions_count == 0 %}
  <p>{% trans "This contact has no subscriptions" %}</p>
{% endif %}
<div class="text-right">
  <a href="{% url "new_subscription" contact.id %}" class="btn btn-primary">
    <i class="fas fa-plus-circle"></i> {% trans "Add subscription" %}
  </a>
</div>
