{% load i18n static core_tags %}
<table class="table">
  <thead>
  <tr role="row">
    <th>{% trans "Invoice" %}</th>
    <th>{% trans "Subscription" %}</th>
    <th>{% trans "Service from" %}</th>
    <th>{% trans "Service to" %}</th>
    <th>{% trans "Created" %}</th>
    <th>{% trans "Due" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Payment method" %}</th>
    <th>{% trans "Status" %}</th>
    {% if request.user|in_group:"Admins" %}
      <th>Reenviar</th>
    {% endif %}
  </tr>
</thead>
<tbody>
  {% for invoice in invoices %}
  <tr role="row" class="{% if invoice.canceled or invoice.uncollectible %}table-secondary{% elif invoice.paid or invoice.debited %}table-success{% elif invoice.is_overdue %}table-danger{% endif %}">
    <td>
      <a href="{% url 'invoice_detail' invoice.id %}">{{ invoice.id }}</a>
      {% if invoice.pdf %}
        {% if request.user|in_group:"Finances" or request.user|in_group:"Managers" or request.user|in_group:"Logistics" or request.user|in_group:"Support" %}
          <a href="{% url 'download_invoice' invoice.id %}" title="{% trans "Download invoice" %}">
            <img src="{% static 'img/pdficon_small.png' %}" alt="PDF" height="16" width="16"/>
          </a>
        {% endif %}
      {% else %}
        <i class="fas fa-exclamation-triangle text-warning" title="{% trans "No pdf" %}"></i>
      {% endif %}
    </td>
    <td>
      {% if invoice.subscription %}
        <a href="{% url 'admin:core_subscription_change' invoice.subscription_id %}" target="_blank">
          {{ invoice.subscription_id }} ({{ invoice.subscription.get_payment_type_display }})
          {% if not invoice.subscription.active %}
            [Inactiva]
          {% endif %}
        </a>
      {% else %}
        -
      {% endif %}
    </td>
    <td>{{ invoice.service_from|date:"Y-m-d" }}</td>
    <td>{{ invoice.service_to|date:"Y-m-d" }}</td>
    <td>{{ invoice.creation_date|date:"Y-m-d" }}</td>
    <td>{{ invoice.expiration_date|date:"Y-m-d" }}</td>
    <td>{{ invoice.amount }}</td>
    <td>{{ invoice.get_payment_type_display }}</td>
    <td>{{ invoice.get_status }}</td>
    {% if request.user|in_group:"Admins" %}
      <td>
        {% if "MercadoPago - Pago no aprobado" in invoice.notes and not invoice.paid and not invoice.debited and not invoice.canceled and not invoice.uncollectible %}
          <a href="{% url 'mercadopago_resend' invoice.id %}" class="btn btn-primary">Enviar a MercadoPago</a>
        {% endif %}
      </td>
    {% endif %}
    </tr>
  {% endfor %}
</tbody>
</table>
