{% extends "adminlte/base.html" %}
{% load static i18n %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
  $("#product_select").change(function() {
    var optionValue = $(this).val();
    var url = window.location.href.split("?")[0];
    window.location = url + "?product_id=" + optionValue;
  });
});
</script>
{% endblock %}

{% block no_heading %}
<h1>{% trans "Logistics" %} &raquo; {% trans "Assign routes" %}</h1>
{% endblock %}

{% block title %}
{% trans "Assign routes" %}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h1 class="card-title">{% trans 'Assign route to subscription products' %} {% if product %} - {% trans "Product" %}: {{product.name}}{% endif %}</h1>
  </div>
  <div class="card-body">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">{% trans 'Filter by product' %}</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <select id="product_select" class="form-control">
            <option value="all">{% trans 'All' %}</option>
            {% for p in product_list %}
            <option value="{{p.id}}" {% if product.id == p.id %}selected{% endif %}>{{p.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <form action="" method="post" >
      {% csrf_token %}
      <div class="">
        <table class="table table-hover table-head-fixed">
          <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              {% if not product %}<th>{% trans 'Product' %}</th>{% endif %}
              <th>{% trans 'Address' %}</th>
              <th>{% trans 'Complement' %}</th>
              <th>{% trans 'City' %}</th>
              <th>{% trans 'Department' %}</th>
              <th>{% trans 'Message' %}</th>
              <th>{% trans 'Instructions' %}</th>
              <th>{% trans 'Route' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for sp in subscription_products %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td><a href="{% url 'contact_detail' sp.subscription.contact.id %}">{{ sp.subscription.contact.name }}</a></td>
              {% if not product %}<td>{{ sp.product.name }}</td>{% endif %}
              <td style="max-width:130px">{{ sp.address.address_1|default_if_none:'' }}</td>
              <td>{{ sp.address.address_2|default_if_none:'' }}</td>
              <td>{{ sp.address.city }}</td>
              <td>{{ sp.address.state }}</td>
              <td><input class="form-control" maxlength="40" type="text" name="message-{{ sp.id }}" value="{{ sp.label_message|default_if_none:'' }}" /></td>
              <td><input class="form-control" type="text" name="instructions-{{ sp.id }}" value="{{ sp.special_instructions|default_if_none:'' }}" /></td>
              <td><input type="number" class="form-control" name="sp-{{ sp.id }}" value="{{sp.route|default_if_none:''}}" tabindex="{{ forloop.counter }}" style="min-width:65px"/></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <input type="submit" value="{% trans 'Send' %}" class="btn btn-gradient btn-primary"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
