{% extends 'adminlte/base.html' %}
{% load static i18n %}

{% block no_heading %}
<h1>{% trans "Issues statistics" %}</h1>
{% endblock %}

{% block title %}
    {% trans "Issues statistics" %}
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Daily" %}</h3>
      </div>
      <div class="card-body">
          <table class="table text-center table-bordered">
            <thead>
              <tr>
                <th>&nbsp;</th>
                {% for day in days %}
                  <th>{{ day.date|safe }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-left">{% trans "Issues" %}</th>
                {% for day in days %}
                    <td>
                  {% if day.issues %}
                    <a href='{% url "issues_route_list" day.start day.start %}'>{{ day.issues }} / {{ day.pct }}%</a>
                  {% else %}
                    &nbsp;
                  {% endif %}
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans "Weekly" %}</h3>
        </div>
        <div class="card-body">
          <table class="table text-center table-bordered">
            <thead>
              <tr>
                <th>&nbsp;</th>
                {% for week in weeks %}
                  <th>{{ week.date|safe }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-left">{% trans "Issues" %}</th>
                {% for week in weeks %}
                  {% if week.issues %}
                    <td><a href='{% url "issues_route_list" week.start week.end %}'>{{ week.issues }} / {{ week.pct }}%</a></td>
                  {% else %}
                    <td>&nbsp;</td>
                  {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans "Monthly" %}</h3>
        </div>
        <div class="card-body">
          <table class="table text-center table-bordered">
            <thead>
              <tr>
                <th>&nbsp;</th>
                {% for month in months %}
                  <th>{{ month.date|safe }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-left">{% trans "Issues" %}</th>
                {% for month in months %}
                  {% if month.issues %}
                    <td><a href='{% url "issues_route_list" month.start month.end %}'>{{ month.issues }} / {{ month.pct }}%</a></td>
                  {% else %}
                    <td>&nbsp;</td>
                  {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}
