{% extends "adminlte/base.html" %}
{% load static i18n core_tags %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/1.12.1/jquery-ui.js' %}"></script>
<script type="text/javascript">
  $(function(){
    $("#product_select").change(function() {
      var optionValue = $(this).val();
      var url = window.location.href.split("?")[0];
      window.location = url + "?product_id=" + optionValue;
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}

{% block no_heading %}
<h1>{% trans 'Logistics' %}</h1>
<p>{% trans "View all logistics routes" %}</p>
{% endblock %}

{% block title %}
    {% trans "All routes" %}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h1 class="card-title">{% trans "All routes" %}</h1>
  </div>
  <div class="card-body">
      <table class="table table-hover table-head-fixed">
        <thead>
          <tr>
              <th>#</th>
              <th>{% trans "Name" %}</th>
              <th data-toggle="tooltip" title='{% trans "Amount of contacts in this route" %}'>{% trans "Total" %}</th>
              <th data-toggle="tooltip" title='{% trans "Amount of contacts today" %}'>{% trans "Today" %}</th>
              <th data-toggle="tooltip" title='{% trans "Amount of contacts tomorrow" %}'>{% trans "Tomorrow" %}</th>
              <th>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for route in route_list %}
          <tr>
              <td>{{ route.number }}</td>
              <td data-toggle="tooltip" title='{{ route.description }}'>{{ route.name }}</td>
              <td data-toggle="tooltip" title='{% trans "Amount of contacts in this route" %}'>{{ route.get_subscriptionproducts_count }}</td>
              <td data-toggle="tooltip" title='{% trans "Amount of contacts for today" %}'>{{ route.get_subscriptionproducts_today_count }}</td>
              <td data-toggle="tooltip" title='{% trans "Amount of contacts for tomorrow" %}'>{{ route.get_subscriptionproducts_tomorrow_count }}</td>
              <td>
                {% if request.user|in_group:"Support" or request.user|in_group:"Logistics" %}
                  <a target="_blank" href='{% url "print_routes_simple" route.number %}' class="btn btn-primary">{% trans "Print" %}</a>
                {% endif %}
                {% if request.user|in_group:"Logistics" %}
                  <a target="_blank" href='{% url "order_route" route.number %}' class="btn btn-primary">{% trans "Order" %}</a>
                  <a target="_blank" href='{% url "change_route" route.number %}' class="btn btn-primary">{% trans "Reroute" %}</a>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
