{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks core_tags %}

{% block title %}
    {% trans "Scheduled activities" %}
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(function() {
    $("#table1").DataTable();
  });
</script>
{% endblock %}

{% block no_heading %}
<h1>Direcciones para georeferenciar</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">{% trans 'Filter' %} ({{count}} {% trans "addresses" %})</h3>
          <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
        </div>
        <div class="card-body">
          <form method="GET" id="form">
            <div class="row">
              <div class="form-group row col-2">
                <label for="phone" class="col-sm-3 col-form-label">{% trans 'Route' %}</label>
                <div class="col-sm-9">
                  {% render_field filter.form.route class="form-control" %}
                </div>
              </div>
              <div class="form-group row col-3">
                <label for="state" class="col-sm-3 col-form-label">{% trans 'Needs georef' %}</label>
                <div class="col-sm-9">
                  {% render_field filter.form.needs_georef class="form-control" %}
                </div>
              </div>
              <div class="form-group row col-3">
                <label for="state" class="col-sm-3 col-form-label">{% trans 'Active sub.' %}</label>
                <div class="col-sm-9">
                  {% render_field filter.form.active_subscription class="form-control" %}
                </div>
              </div>
              <div class="form-group col-sm-1">
                <input type="submit" class="btn bg-gradient-primary" value="{% trans 'Go' %}" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table id="table1" class="table table-bordered table-striped">
              <thead>
                  <tr role="row">
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Route" %}</th>
                    <th>Sin georef</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                {% for address in addresses %}
                <tr role="row">
                    <td>{{address}}</td>
                    <td><a href="{% url 'contact_detail' address.contact.id %}">{{address.contact.name}}</a></td>
                    <td>{{address.get_routes}}</td>
                    <td>{% if address.needs_georef %}Sí{% endif %}</td>
                    <td><a href="{% url 'normalizar_direccion' address.contact.id address.id %}?goback=mass_georef" class="btn btn-gradient btn-primary">Normalizar</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  {% if addresses.has_other_pages %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if addresses.number == 1 %}
            <li class="page-item disabled"><span class="page-link">{% trans "first" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' 1 %}">{% trans "first" %}</a></li>
        {% endif %}
        {% if addresses.has_previous %}
            <li><a class="page-link" href="?{% url_replace request 'p' addresses.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:addresses.number %}
            {% if addresses.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'p' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if addresses.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'p' addresses.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if addresses.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">{% trans "last" %}</span></li>
        {% else %}
            <li><a class="page-link" href="?{% url_replace request 'p' paginator.num_pages %}">{% trans "last" %}</a></li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
