{% extends "adminlte/base.html" %}
{% load static i18n %}

{% block extra_js %}
<script type="text/javascript">
function addParam(v) {
      window.location.search += '&' + v;
  }

$(function(){
  $("#product_select").change(function() {
    var optionValue = $(this).val();
    var url = window.location.href.split("?")[0];
    window.location = url + "?product_id=" + optionValue;
  });

  $("#convert").click(function(){
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "{% trans 'Accept' %}": function() {
          window.location = "{% url 'convert_orders_to_tens' route.number %}";
          $( this ).dialog( "close" );
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
});
</script>
{% endblock %}

{% block no_heading %}
<h1>{% trans 'Logistics' %}</h1>
{% endblock %}

{% block title %}
{% trans "Order route" %} {{route.number}}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% trans "Order susbscription products on route" %} {{route.number}} - {{route.name}}{% if product %} - {% trans "Product" %}: {{product.name}}{% endif %}</h3>
  </div>
  <div class="card-body">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">{% trans 'Filter by product' %}</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <select id="product_select" class="form-control">
            <option value="all">{% trans 'All' %}</option>
            {% for p in product_list %}
            <option value="{{p.id}}" {% if product.id == p.id %}selected{% endif %}>{{p.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <a href="javascript:addParam('print=True')" class="btn-primary btn">{% trans "Print view" %}</a>
      <a href="javascript:addParam('only_empty=True')" class="btn-primary btn">{% trans "Show only empty orders" %}</a>
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover table-head-fixed">
          <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              {% if not product %}<th>{% trans 'Product' %}</th>{% endif %}
              <th>{% trans 'Address' %}</th>
              <th>{% trans 'Complement' %}</th>
              <th>{% trans 'Message' %}</th>
              <th>{% trans 'Instructions' %}</th>
              <th>{% trans 'Order' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for sp in subscription_products %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td><a href="{% url 'contact_detail' sp.subscription.contact.id %}">{{ sp.subscription.contact.name }}</a></td>
              {% if not product %}<td>{{ sp.product.name }}</td>{% endif %}
              <td>{{ sp.address.address_1|default_if_none:'' }}</td>
              <td>{{ sp.address.address_2|default_if_none:'' }}</td>
              <td><input class="form-control" maxlength="40" type="text" name="message-{{ sp.id }}" value="{{ sp.label_message|default_if_none:'' }}" /></td>
              <td><input class="form-control" type="number" name="instructions-{{ sp.id }}" value="{{ sp.special_instructions|default_if_none:'' }}" /></td>
              <td><input class="form-control" type="number" name="sp-order-{{ sp.id }}" value="{{sp.order|default_if_none:''}}" size="2" tabindex="{{ forloop.counter }}" class="form-control"/></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <input id="convert" type="button" value="{% trans 'Convert to tens' %}" class="btn btn-primary btn-gradient"/>
        <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary btn-gradient"/>
      </div>
    </form>
  </div>
</div>

<div style="display: none" id="dialog-confirm" title='{% trans "Confirm action" %}'>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>{% blocktrans with route as route_number %}Convert all orders of route {{ route.number }} to tens?{% endblocktrans %}</p>
</div>
{% endblock %}
