{% extends "adminlte/base.html" %}
{% load i18n %}

{% block no_heading %}
<h1>{% trans 'Logistics' %}</h1>
{% endblock %}

{% block title %}
    {% trans "Print labels from CSV file" %}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2 class="card-title">{% trans 'Print labels from CSV file' %}</h2>
  </div>
  <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{% trans "Please upload a csv containing the following data" %}:</p>
            <p>{% trans "name" %}, {% trans "address 1" %}, {% trans "address 2" %}, {% trans "route" %}, {% trans "order" %}, {% trans "message" %}, {% trans "route suffix" %}</p>
            <p><b>{% trans "The header line will be ignored." %}</b> {% trans "Only name and address are mandatory" %}</p>
            <div class="form-group">
                <label for="labels">{% trans 'Upload CSV with data' %}:</label>
                <input id="labels" type="file" name="labels" class="form-control"/>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input id="96x30" type="checkbox" name="96x30" class="form-check-input" />
                <label for="96x30" class="form-check-label">{% trans '96x30 labels' %}</label>
                <br>
                <input id="separators" type="checkbox" name="separators" class="form-check-input" />
                <label for="separators" class="form-check-label">{% trans 'Use separators' %}</label>
              </div>
            </div>
            <div class="form-group text-right">
              <input type="submit" value="{% trans 'Generate PDF with labels' %}" class="btn btn-primary btn-gradient"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
