{% load static core_tags setting adminlte_helpers i18n %}
<!-- Left side column. contains the sidebar -->
{% is_app_hidden "logistics" as is_app_hidden_logistics %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  {% block logo %}
    <a href="{% url "home" %}" class="brand-link">
      <img src="/{% setting LOGO %}"
           alt="utopia"
           class="brand-image"
           height="auto"
           width="auto">
      {% block logo_text %}<span class="transparent-logo">Utopia CRM</span>{% endblock %}

    </a>
  {% endblock %}

  <!-- sidebar: style can be found in sidebar.less -->
  <div class="sidebar d-flex flex-column">
    {% block form %}{% endblock %}

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <div class="sidebar-menu flex-grow-1">
      {% block nav_links_ul %}
        <nav class="mt-2 height-100">
          <ul class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false">
            {% block nav_links_outer %}
              {% block nav_links %}
                {% url 'home' as home %}
                {% url 'contact_list' as contact_list %}
                {% url 'seller_console_list_campaigns' as seller_console_list_campaigns %}
                {% url "my_sales" as my_sales %}
                {# TODO: Add if ... in INSTALLED_APPS for each menu #}
                <li class="nav-item">
                  <a href="{{ home }}"
                     class="nav-link {% if request.path == home %}active{% endif %}">
                    <i class="nav-icon fas fa-home"></i>
                    <p>{% trans "Home" %}</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ contact_list }}"
                     class="nav-link {% if request.path == contact_list %}active{% endif %}">
                    <i class="nav-icon fas fa-address-book"></i>
                    <p>{% trans "Contacts" %}</p>
                  </a>
                </li>
                {% if request.user|in_group:"Support" %}
                  {% include "components/sidebar_items/_support.html" %}
                {% endif %}
                {% if request.user|in_group:"Managers" %}
                  {% include "components/sidebar_items/_campaign_management.html" %}
                {% endif %}
                {% if request.user|in_group:"Finances" %}
                  {% include "components/sidebar_items/_finances.html" %}
                {% endif %}
                {% if not is_app_hidden_logistics and request.user|in_group:"Logistics" %}
                  {% include "components/sidebar_items/_logistics.html" %}
                {% endif %}
                {% if request.user|in_group:"Advertisement" %}
                  {% include "components/sidebar_items/_advertisement.html" %}
                {% endif %}
                {% if request.user|has_perm:"support.can_access_community_console" %}
                  {% url 'community_console' as community_console %}
                  <li class="nav-item">
                    <a href="{{ community_console }}"
                       class="nav-link {% if request.path == community_console %}active{% endif %}">
                      <i class="nav-icon fas fa-users"></i>
                      <p>{% trans "Community console" %}</p>
                    </a>
                  </li>
                {% endif %}
                {% include_if_exists "sidebar_extra.html" %}
                {% if request.user|in_group:"Sellers" %}
                  <li class="nav-item">
                    <a href="{{ seller_console_list_campaigns }}"
                       class="nav-link {% if request.path == seller_console_list_campaigns %}active{% endif %}">
                      <i class="nav-icon fas fa-columns"></i>
                      <p>{% trans "Seller console" %}</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ my_sales }}"
                       class="nav-link {% if request.path == my_sales %}active{% endif %}">
                      <i class="nav-icon fas fa-dollar-sign"></i>
                      <p>{% trans "My Sales" %}</p>
                    </a>
                  </li>
                {% endif %}
                {% if request.user|in_group:"Managers" %}
                  <li class="nav-item">
                    <a href="{% url "admin:index" %}" class="nav-link">
                      <i class="nav-icon fas fa-cogs"></i>
                      <p>{% trans "Admin panel" %}</p>
                    </a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a href="{% url "logout" %}" class="nav-link">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>{% trans "Logout" %}</p>
                  </a>
                </li>
              {% endblock nav_links %}
            {% endblock nav_links_outer %}

          </ul>
        </nav>
      {% endblock nav_links_ul %}

    </div>
  </div>
</aside>
