{% load i18n core_tags %}

{% url 'list_issues' as list_issues %}
{% url "invoicing_issues" as collection_issues %}
{% url "dynamic_contact_filter_list" as dynamic_contact_filter_list %}
{% url "list_routes" as list_routes %}
{% url "list_routes_detailed" as list_routes_detailed %}
{% url "scheduled_task_filter" as scheduled_task_filter %}

<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <p>
      {% trans "Support" %}
      <i class="fas fa-angle-down right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{{ list_issues }}"
         class="nav-link {% if request.path == list_issues %}active{% endif %}">{% trans "List issues" %}</a>
    </li>
    <li class="nav-item">
      <a href="{{ collection_issues }}"
         class="nav-link {% if request.path == collection_issues %}active{% endif %}">{% trans "Collection issues" %}</a>
    </li>
    <li class="nav-item">
      <a href="{{ dynamic_contact_filter_list }}"
         class="nav-link {% if request.path == dynamic_contact_filter_list %}active{% endif %}">{% trans "Dynamic contact filter list" %}</a>
    </li>
    <li class="nav-item">
      <a href="{{ list_routes }}"
         class="nav-link {% if request.path == list_routes %}active{% endif %}">{% trans "List all routes" %}</a>
    </li>
    <li class="nav-item">
      <a href="{{ scheduled_task_filter }}" class="nav-link">{% trans "Scheduled task filter" %}</a>
    </li>
    {% include_if_exists "support_sidebar_extra.html" %}
  </ul>
</li>
