{% extends 'adminlte/base.html' %}
{% load static i18n widget_tweaks %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/email_suggestion_dialog.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
  </script>
{% endblock extra_js %}

{% block no_heading %}
<div class="col-9"><h1><a href="{% url 'advertiser_list' %}">{% trans "All advertisers" %}</a> &raquo; {% if form.instance.id %}<a href="{% url 'advertiser_detail' form.instance.id %}">{{form.instance.name}}</a> &raquo; {% trans "Edit" %}{% else %}{% trans "New" %}{% endif %}</h1></div>
{% endblock no_heading %}

{% block content %}
  <section class="content">
    <form action="" method="post">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="card">
            <div class="card-body">

              <div class="row mt-2">
                <div class="col-4">
                  <label for="id_name">{% trans "Name" %}</label>
                  {% render_field form.name class="form-control" %}
                </div>
                <div class="col-4">
                  <label for="id_type">{% trans "Type" %}</label>
                  {% render_field form.type class="form-control" %}
                </div>
                <div class="col-4">
                  <label for="id_priority">{% trans "Importance" %}</label>
                  {% render_field form.priority class="form-control" %}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-4">
                  <label for="contact">{% trans "Search contact by ID" %}:</label>
                  <input type="text" id="contact_search" hx-get="{% url "htmx_search_contacts_alt" "main_contact" %}" hx-trigger="keyup changed delay:500ms" hx-target="#select_contact" class="form-control" name="contact_id" {% if main_contact %}value="{{main_contact.id}}"{% endif %}>
                </div>
                <div class="col-4" id="select_contact">
                  <label for="contact">{% trans "Current contact" %}:</label>
                  <select id="id_main_contact" name="main_contact" class="form-control">
                    {% if main_contact %}
                    <option value="{{main_contact.id}}">{{main_contact.id}} - {{main_contact.name}}</option>
                    {% endif %}
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-4">
                  <label for="id_phone">{% trans "Phone" %}</label>
                    {% render_field form.phone class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_email">{% trans "Email" %}</label>
                    {% render_field form.email class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_main_seller">{% trans "Main seller" %}</label>
                    {% render_field form.main_seller class="form-control" %}
                  </label>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-4">
                  <label for="id_billing_name">{% trans "Billing name" %}</label>
                    {% render_field form.billing_name class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_billing_id_document">{% trans "Billing id document" %}</label>
                    {% render_field form.billing_id_document class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_billing_utr">{% trans "Unique taxpayer reference" %}</label>
                    {% render_field form.utr class="form-control" %}
                  </label>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-4">
                  <label for="id_billing_address">{% trans "Billing address" %}</label>
                    {% render_field form.billing_address class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_billing_phone">{% trans "Billing phone" %}</label>
                    {% render_field form.billing_phone class="form-control" %}
                  </label>
                </div>

                <div class="col-4">
                  <label for="id_billing_email">{% trans "Billing email" %}</label>
                    {% render_field form.email class="form-control" %}
                  </label>
                </div>
              </div>

            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </section>
{% endblock %}
