{% extends "adminlte/base.html" %}
{% load i18n %}

{% block title %}
{{ agency.name }}
{% endblock title %}

{% block no_heading %}
<div class="container-fluid">
  <div class="row">
    <div class="col-9"><h1><a href="{% url "agency_list" %}">{% trans "All agencies" %}</a> > {{ agency.name }}</h1></div>
    <div class="col"></div>
    <div class="text-right col">
      <a href="{% url 'add_agent' agency.id %}" class="btn btn-primary">{% trans "Add Agent" %}</a>
      <a href="{% url 'edit_agency' agency.id %}" class="btn btn-primary">{% trans "Edit info" %}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#general" data-toggle="tab" role="tab">{% trans "General" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#orders" data-toggle="tab" role="tab">{% trans "Purchase orders" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="general" role="tabpanel">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{% trans "General information" %}</h3>
              </div>
              <div class="card-body">
                <dl>
                  <dt>{% trans "Name" %}</dt>
                  <dd>{{ agency.name }}</dd>
                  {% if agency.main_contact %}
                  <dt>{% trans "Main contact" %}</dt>
                  <dd><a href="{% url "contact_detail" agency.main_contact.id %}">{{ agency.main_contact.get_full_name }}</a></dd>
                  {% endif %}
                  <dt>{% trans "Phone" %}</dt>
                  <dd>{{ agency.phone|default_if_none:"-" }}</dd>
                  <dt>{% trans "Email" %}</dt>
                  <dd>{{ agency.email|default_if_none:"-" }}</dd>
                  <dt>{% trans "Priority" %}</dt>
                  <dd>{{ agency.get_priority_display }}</dd>
                  <dt>{% trans "Seller" %}</dt>
                  <dd>{{ agency.main_seller|default_if_none:"-" }}</dd>
                  <div class="card">
                    <div class="card-header">
                      {% trans "Billing data" %}
                    </div>
                    <div class="card-body">
                      <dt>{% trans "Billing name" %}</dt>
                      <dd>{{ agency.billing_name|default_if_none:"-" }}</dd>
                      <dt>{% trans "Billing id document" %}</dt>
                      <dd>{{ agency.billing_id_document|default_if_none:"-" }}</dd>
                      <dt>{% trans "Unique taxpayer registry" %}</dt>
                      <dd>{{ agency.utr|default_if_none:"-" }}</dd>
                      <dt>{% trans "Billing phone" %}</dt>
                      <dd>{{ agency.billing_phone|default_if_none:"-" }}</dd>
                      <dt>{% trans "Billing address" %}</dt>
                      {% if agency.billing_address.exists %}
                      <dd>{{ agency.billing_address_set.first }}</dd>
                      {% else %}
                      <dd>-</dd>
                      {% endif %}
                    </div>
                  </div>

                </dl>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  <h3 class="card-title">{% trans "Scheduled and completed activities" %}</h3>
                </div>
                <div class="card-tools">
                  <a href="{% url 'add_advertisement_activity' agency.id %}" class="btn-sm btn-success">{% trans "Add activity" %}</a>
                </div>
              </div>

              <div class="card-body">
                {% if activities %}
                <table class="table table-bordered table-striped">
                  <tr role="row">
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Date" %}</th>
                  </tr>
                  {% for a in activities %}
                    <tr role="row">
                      <td>{{ a.get_type_display }}</td>
                      <td>{{ a.get_status_display }}</td>
                      <td>{{ a.date|date:"d/m/Y H:m" }}</td>
                    </tr>
                  {% endfor %}
                </table>
                {% else %}
                {% trans "No activities to show" %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{% trans "Agents and advertisers" %}</h3>
              </div>
              <div class="card-body">
                {% if agency.agent_set.exists %}
                {% for agent in agency.agent_set.all %}
                <div class="card">
                  <div class="card-header">
                      {% trans "Agent" %}
                      {% if agent.contact %}
                      <a href="{% url "contact_detail" agent.contact.id %}" target="_blank"> {{ agent.contact.get_full_name }} <i class="fas fa-external-link-alt"></i></a>
                      {% endif %}
                  </div>
                  <div class="card-body">
                    <dl>
                      <dt>{% trans "Advertiser" %}</dt><dd><a href="{% url "advertiser_detail" agent.advertiser.id %}">{{ agent.advertiser.name }} <i class="fas fa-external-link-alt"></i></a></dd>
                      <dt>{% trans "Email" %}</dt><dd>{{ agent.email|default_if_none:"-" }}</dd>
                      <dt>{% trans "Notes" %}</dt><dd>{{ agent.notes|default_if_none:"-" }}</dd>
                    </dl>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                {% trans "No agents registered" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="orders">
        <p>In construction</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
